
<iframe *ngIf="!arabic_language" class="p-d-flex p-mt-2 p-mb-6"  src="https://my.atlistmaps.com/map/1b12b99b-0552-431f-9507-f8faca058139?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
<iframe *ngIf="arabic_language" class="p-d-flex p-mt-2 p-mb-6"  src="https://my.atlistmaps.com/map/ea124cfd-4309-4038-a9de-0d6a738dbf69?share=true" allow="geolocation" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>


