<p-toast key="toast"></p-toast>
<div class="p-shadow-3">

  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

</div>
<div class="p-shadow-3">
  <p-card class="p-shadow-6">
    <ng-template pTemplate="header">

      <h2 class="p-d-flex p-jc-center">New Project</h2>
    </ng-template>
    <form [formGroup]="formNewProject">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">

          <input type="text" pInputText pTooltip="Enter your username" placeholder="Project Name" formControlName="projectname" maxlength="50"
                 [(ngModel)]="project.name">
          <div *ngIf="f.projectname.touched && f.projectname.invalid" class=" p-d-flex p-jc-center p-mt-2 ">
            <p-message [styleClass]="'fill-parent'" severity="error"*ngIf="f.projectname.errors?.required"text="invalid"></p-message>
          </div>
        </div>

        <div class="p-field p-col">
          <p-calendar [(ngModel)]="project.createdDate" [showIcon]="true" placeholder="Start Date" formControlName="calendar"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
          <div *ngIf="f.calendar.touched && f.calendar.invalid" class=" p-d-flex p-jc-center p-mt-2 ">
            <p-message [styleClass]="'fill-parent'" severity="error"*ngIf="f.calendar.errors?.required"text="invalid"></p-message>
          </div>
        </div>

      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">

      <textarea placeholder="Description" [rows]="8" [cols]="95" pInputTextarea
                [(ngModel)]="project.description"formControlName="description" maxlength="700"></textarea>
          <div *ngIf="f.description.touched && f.description.invalid" class=" p-d-flex p-jc-center p-mt-2 ">
            <p-message [styleClass]="'fill-parent'" severity="error"*ngIf="f.description.errors?.required"text="invalid"></p-message>
          </div>
        </div>
        <div *ngIf="user.roles[0]==='MASTER'" class="p-field p-col">
          <p-dropdown [(ngModel)]="admin"  [options]="listAdmin" placeholder="Select a admin" optionLabel="username" formControlName="admin"[filter]="true" filterBy="username"
                      [showClear]="true">
            <ng-template pTemplate="selectedItem">
              <div class="admin-item admin-item-value" *ngIf="admin">
                <div>{{admin.username}}</div>
              </div>
            </ng-template>
            <ng-template let-admin pTemplate="item">
              <div class="admin-item">
                <div>{{admin.username}}</div>
              </div>
            </ng-template>
          </p-dropdown>



        </div>

        <div class="p-field p-col">

          <p-dropdown [(ngModel)]="customer"  [options]="users" placeholder="Select a user" optionLabel="username" formControlName="user"[filter]="true" filterBy="username"
                      [showClear]="true">
            <ng-template pTemplate="selectedItem">
              <div class="customer-item customer-item-value" *ngIf="customer">
                <div>{{customer.username}}</div>
              </div>
            </ng-template>
            <ng-template let-customer pTemplate="item">
              <div class="customer-item">
                <div>{{customer.username}}</div>
              </div>
            </ng-template>
          </p-dropdown>


        </div>

        <div class="p-field p-col-6">

          <p-dropdown [options]="services" [(ngModel)]="serviceList"(onChange)="displayPoupup()" optionLabel="name" [filter]="true" filterBy="name" formControlName="service"
                      [showClear]="true" placeholder="Select a Service">
            <ng-template pTemplate="selectedItem">
              <div class="service-item service-item-value" *ngIf="serviceList">
                <div>{{serviceList.name}}</div>
              </div>
            </ng-template>
            <ng-template let-service pTemplate="item">
              <div class="service-item">
                <div>{{service.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>

          <div *ngIf="f.service.touched && f.service.invalid" class=" p-d-flex p-jc-center p-mt-2 ">
            <p-message [styleClass]="'fill-parent'" severity="error"*ngIf="f.service.errors?.required"text="invalid"></p-message>
          </div>

        </div>
      </div>


    </form>

    <ng-template pTemplate="footer">


      <div class="p-d-flex p-jc-end">
        <div class="p-mr-2" >
          <button  pButton type="button"   [disabled]="!isDisabledStartProject"label="Start Project" (click)="startProject()"></button>
        </div>
        <div class="p-mr-2">
          <button (click)="cancel()" class="p-button-danger" pButton type="button" label="Cancel"></button>
        </div>

      </div>
    </ng-template>
  </p-card>


</div>

<p-dialog header="Confirmation dialogue" [(visible)]="display">
  <div class="p-d-flex">
    <div class="p-mr-2 p-mt-3">
      <i class="fas fa-info-circle fa-2x"></i>
    </div>
    <div class="p-ml-2 "> <h3>To start a project you must download the statement of work</h3>

    </div>
  </div>


  <div class="p-fluid p-formgrid p-grid  p-mt-6" >

    <h3 class="p-field p-col"> {{serviceList.appDefaultStatementOfWork?.fileName}}</h3>

    <button class="p-field p-col  p-mt-2" (click)="  download(serviceList.id,serviceList.appDefaultStatementOfWork?.fileName)" pButton type="button" label="Download"></button>

  </div>

</p-dialog>
<p-toast></p-toast>
