  <div class="p-shadow-3" *ngIf="!isDashboard">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

</div>

<div class="p-shadow-3" >
  <p-panel class="p-d-flex p-mt-4" [toggleable]="true">
    <ng-template pTemplate="header" >
      LIST PROJECTS
    </ng-template>

    <div class="card" *ngIf="projects">
      <p-table [columns]="cols" [value]="projects" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 15vw">NAME</th>
            <th style="width: 25vw">DESCRIPTION</th>
            <th>DATE</th>
            <th>ADMIN</th>
            <th>STATMENT</th>
            <th>DELETE</th>
            <th>DETAIL</th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project let-columns="columns">
          <tr>
            <td><span class="p-column-title">Name :</span><h5 class="desc-tab" >{{project.name}}</h5></td>
            <td ><span class="p-column-title">DESCRIPTION :</span><p  class="desc-tab" >{{project.description}}</p></td>
            <td><span class="p-column-title">DATE :</span><div class="desc-tab "  >{{project.createdDate | date: 'dd/MM/yyyy'}} </div></td>
            <td >
              <div class="p-d-flex ">
                <div class=" p-mt-4  ">
                  <span class="p-column-title">ADMIN :</span>

                </div>
                <div class="title-admin" style="width:50%" >
                  <h5  *ngIf="project.nameAdmin">{{ project.nameAdmin}}</h5>
                  <i *ngIf="!project.nameAdmin" class="fas fa-user-clock "></i>
                </div>
              </div>

            </td>
            <td>


                  <span class="p-column-title">STATMENT :</span>



                <div class="icon-statement-tab "  >
                  <div *ngIf="project.appStatementOfWork==null">


                    <label  for="fileSS"(click)="test(project.id)"> <img src="assets/images/icon-backoffice/liste project icons/upload.png " > </label>
                    <input id="fileSS" class="input-file" type="file" (change)="onSelectedfile($event)" accept="application/pdf"
                    >

                  </div>
                  <div *ngIf="project.appStatementOfWork!=null">
                    <img  src="assets/images/icon-backoffice/liste project icons/oeil.png " class=" icon-tab " (click)=" showBasicDialog(project.id,project.appStatementOfWork?.fileName)">


                  </div>
                </div>




              <p-dialog header={{doc}} [(visible)]="displayBasic" [resizable]="true" [style]="{width: '800px',height:'100%'}" >



                <pdf-viewer  [src]="host+'/downloadFileOfProject/'+currentId"

                             [style]="{width: '100%', height: '800px',display:'block'}" >

                </pdf-viewer>

                <ng-template pTemplate="footer">

                </ng-template>
              </p-dialog>

            </td>
            <td>
              <span class="p-column-title">DELETE :</span>
              <img  class="icon-tab " src="assets/images/icon-backoffice/liste project icons/corbeille.png" (click)="deleteProject(project.id)">

            </td>
            <td><span class="p-column-title">DETAIL :</span>
              <img  src="assets/images/icon-backoffice/liste project icons/oeil.png " class=" icon-tab " (click)="detailProject(project.id)">

            </td>

          </tr>
        </ng-template>
      </p-table>
      <div class="p-d-flex  p-jc-center" style="width: 100%" *ngIf="projects && projects.length===0">
        <h1 > You have no project for the moment</h1>
      </div>

    </div>
    <div class="p-d-flex p-mb-2 p-mt-2 p-jc-end">


      <button [routerLink]="['/profile/new-project']" class="btn-new-project"></button>
    </div>
  </p-panel>

</div>

<p-dialog header="Delete Confirmation" [(visible)]="displayDeletPoupup">



<div class="p-d-flex p-mt-4">
  <div>
    <i class="pi pi-info-circle " style="font-size: 1.2rem"></i>

  </div>
  <div>
    Do you want to delete this project ?
  </div>
</div>
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="acceptDelete()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="displayDeletPoupup=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>


</p-dialog>

