<div class="background">
<div class="p-grid">
  <div class="p-col-12">

<app-header-back-office [user]="user"></app-header-back-office>
  </div>

  <div class="p-col-2 p-shadow-3">
    <p-panelMenu class="p-col-2" [model]="items" >


    </p-panelMenu>
  </div>
  <div class="p-col-10" >
    <router-outlet  ></router-outlet>

  </div>

</div>
</div>

