<div class="ng-header">
  <div class="ng-header-left left">

    <div class=" right">
      <h1>{{nameUser}}</h1>
    </div>
  </div>
  <div class="ng-header-right right">
    <div class="ng-header-right-item right">
      <a class="icon" (click)="logout()"><i class="fa fa-sign-out-alt"></i></a>
    </div>

    <div class="ng-header-right-item right"
    >
      <a class="icon"><i class="fa fa-cog"></i></a>
    </div>
    <div class="ng-header-right-item right p-d-flex p-mt-3">
         <span class="p-overlay-badge "
               (click)="op.toggle($event)" (click)="clickedNotification()">
    <i class="pi pi-bell" style="font-size: 1.5em"></i>
    <span  *ngIf="numberNewNotfication!==0" class="p-badge">{{numberNewNotfication}}</span>

</span>


    </div>

    <div class="ng-header-right-item right" *ngIf="user">
      <a class="icon">{{user.name}}<span class="user-name"></span><i class="fa fa-user"></i></a>
    </div>
  </div>
</div>

<p-overlayPanel  #op [showCloseIcon]="false" [style]="{width: '350px'}">


  <ng-template  pTemplate>

    <div style=" height: 500px;overflow-y: scroll" >



      <div *ngFor="let notification of lisNotification; let i=index" class="notification-message"
           [ngClass]="{'Notification_Not_Showed': notification.isShowed == true}"
           (click)="viewNotification(notification)"
      >
        <div><i class="fas fa-child icon_overlayPanel"></i><b>Person: </b><i style="color: blue" [innerHtml]=" notification.name"></i></div>
        <div><i class="fas fa-location-arrow icon_overlayPanel"></i><b>Action: </b><i [innerHtml]=" notification.message"></i></div>
        <div><i class="far fa-clock icon_overlayPanel "></i><b><i>Created On: </i></b><i [innerHtml]="notification.createdDate | date:'dd/MM/yyyy'"></i></div>
      <div class="p-d-flex p-jc-end">
        <div class="p-mr-1 p-mt-2">

          <div><button (click)="approveUpdate(notification)" *ngIf="notification.approved===false">approve</button></div>

        </div>
        <div class="p-mr-2 p-mt-2">

          <div><button *ngIf="notification.approved===false">annuler</button></div>

        </div>
        <div class="p-mr-2 p-mt-2">

          <div><h5 style="color: green" *ngIf="notification.approved===true && notification.typeNotification==='has updated her profile'">approvée</h5></div>

        </div>
      </div>


        <hr>

      </div>
    </div>
    <div *ngIf="lisNotification.length===0">list notfication empty</div>

  </ng-template>
</p-overlayPanel>

