
.ng-header, .ng-footer {
  height: 60px;
  background-color:#4c198b;
}


.icon {
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: white
}
h1{
  color: white;
  margin-left: 10px;

}
.fa-fw {
  width: 50px;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.left {
  float: left;
}

.user-name {
  font-size: 17px;
  padding: 5px;
}
.p-badge{
  background-color: red;
}
.icon_overlayPanel{
  padding-right: 3%;

}

.Notification_Not_Showed{
  background-color: #d7e6ff;
}

.notification-message:hover{
  background-color: #d7e6ff;
  cursor:pointer;

}

















