
<div class="contentDash" >
  <app-middle4 id="header"class="p-grid "> ></app-middle4>
  <app-about  id="about"class="p-grid "></app-about>
  <app-card id="works"></app-card>
  <app-middle2></app-middle2>
  <app-services id="service"></app-services>
  <app-contact class="p-grid"></app-contact>
  <app-marquee class="p-grid"></app-marquee>
  <app-contact-racine id="contact"></app-contact-racine>
  <app-addresses class ="p-grid p-mt-1 "></app-addresses>
  <app-rights-reserved class ="p-grid "></app-rights-reserved>



  <button id="button" (click)="toTop()" ><i class="pi pi-chevron-up" ></i>
  </button>

  <a *ngIf="selectLang!=='AR'" class="whatsapp" href="https://wa.me/+21656622165" target="_blank">
    <img class="img-desc" src="../../../../assets/images/logo/whatsapp.png">
    <img class="img-mobile" src="../../../../assets/images/logo/icons8-whatsapp.png" ></a>
  <a *ngIf="selectLang==='AR'"class="whatsapp" href="https://wa.me/+21656622165" target="_blank">
    <img class="img-desc" src="../../../../assets/images/logo/whatsapp-ar.png">
    <img class="img-mobile" src="../../../../assets/images/logo/icons8-whatsapp.png" ></a>

</div>


