.contentDash{
  margin-bottom: -2%;
}
#button {
  display: inline-block;
  background-color: #111;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: all .2s ease-in-out 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
i{
  background: linear-gradient(to top, #e8a036 0%,#e3ac23 25%,#f8de52 75%, #e5aa38 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;

}
#button::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  transform: scale(1.1);

}

#button.show {
  opacity: 1;
  visibility: visible;
}
.whatsapp {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  z-index: 9;

  img {
    width: 100%;
    height: auto;

  }

}
.img-desc{
  display: block;
}
.img-mobile{
  display: none;
}
/* Styles for the content section */


@media screen and (max-width: 640px) {
  #button {
    width: 35px;
    height: 35px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;

  }
  i{

    font-size: 1rem;

  }
  .contentDash{
    width: 100%;

  }
  .img-desc{
    display: none;
  }
  .img-mobile{
    display:block;
  }
  .whatsapp {
    max-width:50px;
    min-width: 50px;
    //margin-bottom: 1%;
  }
}
@media screen and(max-width: 640px) and (orientation:landscape) {



}
