
<p-dialog header="Add Admin to project" [(visible)]="displayAdminPoupup" [style]="{width: '70vw'}">

  <p-table
    [value]="users"
    [rows]="rows"

  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th  >E-mail</th>
        <th>Add</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-admin>
      <tr>
        <td>{{ admin.firstName }}</td>
        <td>{{ admin.email }}</td>

        <td>
          <button
            pButton
            type="button"
            class="p-button-success"
            (click)=" addProject(admin.id)"
          >
            add Admin
          </button>
        </td>

      </tr>

    </ng-template>
  </p-table>

</p-dialog>

<div class="p-shadow-3">

  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

</div>


<div class="p-d-flex p-mt-6 p-shadow-3">

<p-panel>
  <ng-template pTemplate="header">
    List Projects Without Admin
  </ng-template>


  <ng-template pTemplate="display">
    <div class="p-d-inline-flex p-ai-center">
      <span class="pi pi-table" style="vertical-align: middle"></span>
      <span class="p-ml-2">View Project</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p-table #dt1
      [value]="listProjectWithoutAdmin"
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      [(first)]="first"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 7, 25]"
      [globalFilterFields]="['name','description','createdDate','nameCustomer']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Name Project
              <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Description
              <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Creation Date
              <p-columnFilter type="text" field="createdDate" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Customer
              <p-columnFilter type="text" field="nameCustomer" display="menu"></p-columnFilter>
            </div>
          </th>

          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Add Admin To Project
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
          delete
            </div>
          </th>



        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td >{{project.nameCustomer}} </td>
          <td >

            <button
              pButton
              type="button"
              class="p-button-success p-ml-2"
              icon="pi pi-plus"
              (click)="popupAddAdminToProject(project.id)"
            ></button>



          </td>
          <td >
          <i id="icon-delete"class="fas fa-trash-alt "    (click)="popupDeleteProject(project.id)"></i></td>
        </tr>

      </ng-template>
    </p-table>
  </ng-template>
</p-panel>
</div>
<p-dialog header="Delete Confirmation" [(visible)]="displayDeleteProject">

  Do you want to delete this Project?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="deleteProject()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="displayDeleteProject=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>
