<div class="p-grid" >
  <app-header-profile style="width: 100%"></app-header-profile>
  <div class="p-col-2 p-md-0 p-sm-0  p-shadow-6 menu" >

    <p-panelMenu  [model]="items" [style]="{ minWidth: '100%'  }">

    </p-panelMenu>

  </div>
  <div class="p-lg-10 p-md-12 p-sm-12 p-shadow-6 content">
    <router-outlet  ></router-outlet>

  </div>
</div>




