<div class="p-shadow-3">

  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

</div>




<div class="p-d-flex p-mt-6 p-shadow-3">
<p-panel>
  <ng-template pTemplate="header">
    List Projects With Admin
  </ng-template>

  <div class="card" *ngIf="listProject">

    <p-table #dt1 [value]="listProject" dataKey="id"
             [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[3,5,10]"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [globalFilterFields]="['name','description','date','nameAdmin','nameCustomer']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Name Project
              <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Description
              <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
            </div>
          </th>
          <th >
            <div class="p-d-flex p-jc-between p-ai-center">
              Creation Date
              <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>

            </div>
          </th>

          <th *ngIf="user.roles[0]==='MASTER'" >
            <div class="p-d-flex p-jc-between p-ai-center">
              Admin
              <p-columnFilter type="text" field="nameAdmin" display="menu"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              Customer
              <p-columnFilter type="text" field="nameCustomer" display="menu"></p-columnFilter>
            </div>
          </th>
          <th >
            <div class="p-d-flex p-jc-between p-ai-center">
              Update
            </div>
          </th>
          <th >
            <div class="p-d-flex p-jc-between p-ai-center">
              Delete admin of project
            </div>
          </th>
          <th *ngIf="user.roles[0]==='MASTER'">
            <div class="p-d-flex p-jc-between p-ai-center">
              Delete
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>
            {{ project.name }}
          </td>
          <td>
            <span class="image-text">{{project.description}}</span>
          </td>
          <td>
            <span class="image-text">{{project.createdDate | date: 'dd/MM/yyyy'}}</span>
          </td>


          <td *ngIf="user.roles[0]==='MASTER'">{{ project.nameAdmin}}

          </td>
          <td>{{ project.nameCustomer}}</td>

          <td>


            <i id="icon-update"  (click)="goDetail(project.id)" class="fas fa-pen-square fa-2x"></i>
          </td>
          <td >
            <i class="fa fa-minus-circle icon-delete" aria-hidden="true"(click)="popupDeleteAdminOfProject(project.id)"></i>
          </td>
          <td *ngIf="user.roles[0]==='MASTER'">
            <i class="fas fa-trash-alt  icon-delete"    (click)="popupDeleteProject(project.id)"></i>

          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No project  found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</p-panel>

</div>
<p-dialog header="Enable Account "  [(visible)]="displayEnable">
  <i class="pi pi-check " style="font-size: 1.2rem" ></i>

  Do you want to enable this Compte?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button     pButton pRipple type="button" icon="pi pi-check" class="p-mr-2"></button>

    </div>
    <div>
      <button (click)="displayEnable=false" pButton pRipple type="button" icon="pi pi-times" class="p-button-danger"></button>
    </div>
  </div>



</p-dialog>
<p-dialog header="Delete Confirmation" [(visible)]="deleteAdmin">

  Do you want to delete this Admin Of project?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>

      <button
        (click)="deleteProjectFomList()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>

    </div>
    <div>
      <button
        (click)="deleteAdmin=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>
<p-dialog header="Delete Confirmation" [(visible)]="display">

  Do you want to delete this Project?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="deleteProject()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
      (click)="display=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>









