<div >
<app-social-network   class ="p-d-flex p-jc-center "></app-social-network>
<app-addresses class ="p-d-flex p-jc-center "></app-addresses>
<app-rights-reserved class ="p-d-flex p-jc-center"></app-rights-reserved>
</div>
