

<div class="p-d-flex p-jc-center container">
  <div class="p-d-flex p-flex-column p-jc-center" style="min-width: 90%">
    <div class="p-shadow-6">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>


    </div>

    <p-card class="p-shadow-6 p-mt-4">
      <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12">
          <div class="p-d-flex p-flex-column p-ml-6">
            <div><h2 class="animated bounce">Add New Services</h2></div>
            <p-card class="p-shadow-3 p-mb-4" header="English">
              <div class="p-mb-1 p-mr-2">
                <input
                  type="text"
                  pinputtext=""
                  placeholder="name"
                  class="contact-input p-mb-3 p-inputtext p-component"
                  [style]="{ width: '90%' }"
                  [(ngModel)]="service.name"
                />
              </div>

              <div class="p-mb-0 p-mr-2">
              <textarea
                rows="8"
                pinputtextarea=""
                placeholder="Description"
                class="
                  contact-input contact-message
                  p-mb-4 p-inputtextarea p-inputtext p-component
                "
                spellcheck="false"
                [style]="{ width: '90%' }"
                [(ngModel)]="service.description"
              ></textarea>
              </div>
            </p-card>
            <p-card class="p-shadow-3 p-mb-4" header="Frensh">


              <div class="p-mb-1 p-mr-2">
                <input
                  type="text"
                  pinputtext=""
                  placeholder="Nom"
                  class="contact-input p-mb-3 p-inputtext p-component"
                  [style]="{ width: '90%' }"
                  [(ngModel)]="service.nameFrensh"
                />
              </div>

              <div class="p-mb-0 p-mr-2">
              <textarea
                rows="8"
                pinputtextarea=""
                placeholder="La Description"
                class="
                  contact-input contact-message
                  p-mb-4 p-inputtextarea p-inputtext p-component
                "
                spellcheck="false"
                [style]="{ width: '90%' }"
                [(ngModel)]="service.descriptionFrensh"
              ></textarea>
              </div>
            </p-card>
            <p-card class="p-shadow-3 p-mb-4" header="Arabic">


              <div class="p-mb-1 p-mr-2 ">
                <input
                  type="text"
                  pinputtext=""
                  placeholder="الإسم"
                  class="contact-input p-mb-3 p-inputtext p-component"
                  [style]="{ width: '90%' }"
                  [(ngModel)]="service.nameArabic"
                />
              </div>

              <div class="p-mb-0 p-mr-2">
              <textarea
                rows="8"
                pinputtextarea=""
                placeholder="وصف"
                class="
                  contact-input contact-message
                  p-mb-4 p-inputtextarea p-inputtext p-component
                "
                spellcheck="false"
                [style]="{ width: '90%' }"
                [(ngModel)]="service.descriptionArabic"
              ></textarea>
              </div>
            </p-card>


            <p-card class="p-shadow-3 p-mb-4" header="Key Words Service">
              <h3> Keywords must be added between: '|' or   ','   or   '-' </h3>
              <div class="p-mb-0 p-mr-2">
              <textarea
                rows="8"
                pinputtextarea=""
                placeholder="keywords"
                class="
                  contact-input contact-message
                  p-mb-4 p-inputtextarea p-inputtext p-component
                "
                spellcheck="false"
                [style]="{ width: '90%' }"
                [(ngModel)]="service.keyWords"
              ></textarea>
              </div>


            </p-card>



            <div class="p-grid">
              <div class="p-col-6">
                <p-panel header="Add Photo Service">
                  <div class=" p-mb-0 p-ml-3">
                    <h4>Photo Service</h4>
                  </div>
                  <div >
                    <img
                      height="120"
                      src="../../../../assets/images/backOffice/services.png"
                      alt=""
                    />

                    <div class="p-d-flex p-mt-4">
                      <label pButton for="file1" class="label-file p-mr-3 " label="Choose Photo"><i  class="pi pi-plus p-mr-2"></i></label>
                      <input id="file1" class="input-file" type="file" (change)="onSelectedPhoto($event)"/>
                      <div *ngIf="service.photoName">
                        <div >{{service.photoName}}</div>
                      </div>
                    </div>
                  </div>

                </p-panel>
              </div>
              <div class="p-col-6">
                <p-panel header="Add Statement Of Work">
                  <div class=" p-mb-0 p-ml-3">
                    <h4>
                      Attached piece</h4>
                  </div>
                  <div class="p-mb-4 p-mr-0">
                    <img
                      height="120"
                      src="../../../../assets/images/backOffice/statement.png"
                      alt=""
                    />
                  </div>
                  <div>
                    <label pButton for="file" class="label-file p-mr-3 " label="Choose file"><i  class="pi pi-plus p-mr-2"></i></label>
                    <input id="file" class="input-file" type="file" (change)="onSelectedPiece($event)"accept="application/pdf">


                    <div *ngIf="statementOfWork.fileName">
                      <div >{{statementOfWork.fileName}}</div>
                    </div>
                  </div>

                </p-panel>
              </div>

            </div>


            <div
              class="p-d-flex p-mt-4 p-mr-2 p-jc-end"
              *ngIf="editPieceAttached === true"
            >
              <button (click)="saveService()" pButton type="button" label="Save" class="p-button-success"></button>

            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>









