<div class="p-shadow-9">
  <p-breadcrumb  [model]="items" [home]="home"></p-breadcrumb>

</div>
<div class="p-d-flex p-mt-6 p-shadow-3">

  <p-panel>
    <ng-template pTemplate="header">
      List Users
    </ng-template>

    <div class="card" *ngIf="listUsers">

      <p-table #dt1 [value]="listUsers" dataKey="id"
               [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[3,5,10]"
               [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [globalFilterFields]="['firstName','username','email','role','phone','enabledAccount','activated']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                First Name
                <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                User Name
                <p-columnFilter type="text" field="username" display="menu"></p-columnFilter>
              </div>
            </th>
            <th style="width: 20rem">
              <div class="p-d-flex p-jc-between p-ai-center">
                Email
                <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
              List Admin
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Phone Number
                <p-columnFilter type="text" field="phone" display="menu"></p-columnFilter>
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Is Activated
                <p-columnFilter  type="boolean"  field="activated" display="menu"></p-columnFilter>

              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Is Enabled
                <p-columnFilter type="boolean" field="enabledAccount" display="menu"></p-columnFilter>

              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                Delete
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>
              {{customer.firstName}}
            </td>
            <td>
              <span class="image-text">{{customer.username}}</span>
            </td>
            <td>
              <span class="image-text">{{customer.email}}</span>
            </td>

            <td>
              <span class="image-text" (click)="showAdmins(customer)">  <i class="fas fa-eye fa-3x"></i></span>
            </td>
            <td>
              <div class="p-d-flex p-ml-3">
                <i *ngIf="customer.phoneNumber===null" class="fas fa-phone-slash fa fa-2x"></i>


              </div>
              {{ customer.phoneNumber }}
            </td>
            <td>
              <button
                pButton
                type="button"
                class="p-button-danger p-button-rounded p-ml-4"
                icon="pi pi-times"
                *ngIf="!customer.activated"
              ></button>
              <button
                pButton
                type="button"
                class="p-button-raised p-button-rounded p-ml-4"
                icon="pi pi-check"
                *ngIf="customer.activated"

              ></button>

            </td>

            <td>
              <button
                pButton
                (click)="showDialogEnableAccount(customer.id)"

                type="button"
                class="p-button-success p-button-rounded p-ml-4"
                icon="pi pi-check"
                *ngIf="customer.enabledAccount"
              ></button>
              <button
                pButton
                (click)="showDialogEnableAccount(customer.id)"
                type="button"
                class="p-button-danger p-button-rounded p-ml-4"
                icon="pi pi-times"
                *ngIf="!customer.enabledAccount"
              ></button>
            </td>
            <td>

              <i id="icon-delete"class="fas fa-trash-alt "  (click)="showDialog(customer.id)" ></i>

            </td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </p-panel>

</div>
<p-dialog header="Enable Account "  [(visible)]="displayEnable">
  <i class="pi pi-check " style="font-size: 1.2rem" ></i>

  Do you want to enable this Compte?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button    (click)="enabledUser()" pButton pRipple type="button" icon="pi pi-check" class="p-mr-2"></button>

    </div>
    <div>
      <button (click)="displayEnable=false" pButton pRipple type="button" icon="pi pi-times"  class="p-button-danger"></button>
    </div>
  </div>



</p-dialog>
<p-dialog header="Delete Confirmation" [(visible)]="display">

  Do you want to delete this Customer?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="acceptDelete()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="display=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>




<p-dialog header="liste users" [(visible)]="displayPopup" [style]="{width: '80vw'}">

  <div class="card" *ngIf="user">
<app-user-management [userCameOutSuperMaster]="user"></app-user-management>

  <div class="p-d-flex p-jc-end p-mt-4">

    </div >
  </div>

</p-dialog>


















