

<div class="p-shadow-3" >
  <p-panel class="p-d-flex p-mt-4" [toggleable]="true">
    <ng-template pTemplate="header" >
      LIST DOCUMENTS
    </ng-template>
    <div class="card" *ngIf="documents">
      <p-table [columns]="cols" [value]="documents" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document let-columns="columns">
          <tr>
            <td><span class="p-column-title">NUMERO :</span><h5 class="desc-tab" >{{document.numero}}</h5></td>
            <td><span class="p-column-title title-date-ex" >DATE EXPIRATION :</span><div class="desc-tab "  >{{document.expirationDate | date: 'dd/MM/yyyy'}} </div></td>
              <td><span class="p-column-title">TYPE :</span><div class="desc-tab "  >{{document.documentType}}</div></td>
            <td>

              <span class="p-column-title title-document">document :</span>



              <div class="icon-statement-tab "  >

                  <img  src="assets/images/icon-backoffice/liste project icons/oeil.png " class=" icon-tab " (click)=" showBasicDialog(document.id)">

                </div>




              <p-dialog header={{document.documentType}} [(visible)]="displayBasic" [resizable]="true" [style]="{width: '800px',height:'100%'}" >



                <pdf-viewer  [src]="host+'/getFilDocument/'+currentId"

                             [style]="{width: '100%', height: '800px',display:'block'}" >

                </pdf-viewer>

                <ng-template pTemplate="footer">

                </ng-template>
              </p-dialog>

            </td>
            <td>
              <span class="p-column-title td-delete">DELETE :</span>
              <img  src="assets/images/icon-backoffice/liste project icons/corbeille.png" class="icon-tab " (click)="deleteDocument(document.id)">

            </td>


          </tr>
        </ng-template>
      </p-table>


    </div>
    <div class="p-d-flex p-mb-2 p-mt-2 p-jc-end">
      <button [routerLink]="['/profile/new-document']"class="btn-new-document"></button>


    </div>
  </p-panel>

</div>

<p-dialog header="Delete Confirmation" [(visible)]="displayDeletPoupup">



  <div class="p-d-flex p-mt-4">
    <div>
      <i class="pi pi-info-circle " style="font-size: 1.2rem"></i>

    </div>
    <div>
      Do you want to delete this Document ?
    </div>
  </div>
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="acceptDelete()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="displayDeletPoupup=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>


</p-dialog>

