tr:hover {background-color: #f4f4f4;}
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  height: 50px;
}
th, td {
  padding: 15px;
  text-align: left;
}

.fa-trash-alt{
  color: red;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.3s ease;
  margin-left: 20%;

}
.fa-trash-alt:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pointer:hover{
  cursor: pointer;
}
