<p-panel>
  <ng-template pTemplate="header">
    List Tasks
  </ng-template>
  <div class="card" *ngIf="listTasks">

    <div class="p-mb-3">
      <p-button
        type="button"
        icon="pi pi-chevron-left"
        (click)="prev()"
        [disabled]="isFirstPage()"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        type="button"
        icon="pi pi-refresh"
        (click)="reset()"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        type="button"
        icon="pi pi-chevron-right"
        (click)="next()"
        [disabled]="isLastPage()"
        styleClass="p-button-text"
      ></p-button>
    </div>
    <p-table
      [value]="listTasks"
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      [(first)]="first"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 7, 25]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name Task</th>
          <th style="width:15em">Description</th>
          <th>Creation Date</th>
          <th>Close Date</th>
          <th>Type tasks</th>
          <th>Task State</th>
          <th>Enable To User</th>
          <th>Delete Task</th>
          <th><i class="far fa-eye fa-2x"></i></th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td style="font-size: 0.7vw">{{ task.creationDate | date: 'M/d/yy, h:mm a' }}</td>
          <td>
            <div class="p-d-flex p-jc-center">
              <i *ngIf="!task.closeDate" class="fas fa-hourglass-half fa-3x"></i>

            </div>
            <div class="p-d-flex p-jc-center" style="font-size: 0.7vw">
              {{ task.closeDate | date: 'M/d/yy, h:mm a' }}
            </div>
          </td>
          <td>{{ task.type }}</td>


          <td>

            <img *ngIf="task.state==='IN_PROGRESS'" src="assets/images/state/inProgress-img.png">
            <img *ngIf="task.state==='BLOCKED'"  src="assets/images/state/blocked-img.png">
            <img *ngIf="task.state==='DONE'"  src="assets/images/state/success-img.png">

          </td>
          <td>
            <button
              pButton
              type="button"
              class="p-button-danger p-button-rounded p-ml-6"
              icon="pi pi-times"
              *ngIf="!task.enableAccount"
              (click)="showPoupupEnableTask(task.id)"
            ></button>
            <button
              pButton
              type="button"
              class="p-button-raised p-button-rounded p-ml-6"
              icon="pi pi-check"
              *ngIf="task.enableAccount"

            ></button>

          </td>
          <td>
            <i id="icon-delete"class="fas fa-trash-alt fa-2x "(click)="showPoupupDeleteTask(task.id)"
            ></i>


          </td>

          <td>
            <i class="fas fa-eye-slash fa-2x" *ngIf="task.state==='IN_PROGRESS' || task.state==='BLOCKED'" ></i>
            <i (click)="showPoupupListCommentTask(task.id)" *ngIf="task.type==='Add Comment' && task.state==='DONE'" class="fas fa-comments fa-2x"></i>
            <i (click)="showPoupupMailContent(task.id)"*ngIf="task.type==='Send Mail' && task.state==='DONE'"  class="fas fa-envelope fa-2x"></i>
            <i   (click)="showPoupupDownoaldFile(task)" *ngIf="task.type==='Upload' && task.state==='DONE'" class="fas fa-file-alt fa-2x"></i>
          </td>
        </tr>

      </ng-template>
    </p-table>
  </div>

</p-panel>

<div class="p-d-flex p-p-3 card">
  <button pButton pRipple (click)="newTask()" type="button" label="New Task"
          class="p-ml-auto p-button-success"></button>
</div>







<p-dialog header="Enable Account " [(visible)]="displayEnable"[style]="{width: '50vw'}">
  <i class="pi pi-check " style="font-size: 1.2rem"></i>

  Do you want to enable this Compte?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button pButton pRipple type="button" icon="pi pi-check" class="p-mr-2"></button>

    </div>
    <div>
      <button (click)="enableTaskForUser()" pButton pRipple type="button" icon="pi pi-times"
              class="p-button-danger"></button>
    </div>
  </div>


</p-dialog>
<p-dialog header="Delete Confirmation" [(visible)]="display"[style]="{width: '50vw'}">
  <i class="pi pi-info-circle " style="font-size: 1.2rem"></i>
  Do you want to delete this User?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button

        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="display=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>







<p-dialog header="Add New Task" [(visible)]="displayNewTaskPoupup" [style]="{width: '70vw'}">
  <div class="p-shadow-3">
    <p-card class="p-shadow-6">
      <ng-template pTemplate="header">

        <h2 class="p-d-flex p-jc-center">New Task</h2>
      </ng-template>

      <div class="p-field p-col">

        <input type="text"  [(ngModel)]="task.name" pInputText pTooltip="Enter your username" placeholder="Task Name"
        >

      </div>

      <div class="p-field p-col">

      <textarea
        [(ngModel)]="task.description"
        placeholder="Description" [rows]="8" [cols]="95" pInputTextarea
                maxlength="100"></textarea>
      </div>
      <div class="p-fluid  p-grid">

        <div class="p-field p-col">
          <p-calendar
            [(ngModel)]="task.creationDate"
            [showIcon]="true" placeholder="Start Date"
                      [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>


        </div>


        <div class="p-field p-col">

          <p-dropdown
            [(ngModel)]="task.type"
            [options]="listTypeTasks" placeholder="Type Task" optionLabel="type" optionValue="type">
          </p-dropdown>


        </div>
      </div>
      <ng-template pTemplate="footer">


        <div class="p-d-flex p-jc-end">
          <div class="p-mr-2">
            <button (click)="createTask()" pButton type="button" label="Create"></button>
          </div>
          <div class="p-mr-2">
            <button class="p-button-danger" pButton type="button" label="Cancel"></button>
          </div>

        </div>
      </ng-template>
    </p-card>

  </div>

</p-dialog>



<p-dialog header="Delete Confirmation" [(visible)]="displayTaskDelete"[style]="{width: '70vw'}">
  <i class="pi pi-info-circle " style="font-size: 1.2rem" ></i>
  Do you want to delete this Task?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="acceptDeleteTask()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="displayTaskDelete=true"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>



<p-dialog header="Enable Confirmation" [(visible)]="displayTaskEnable"[style]="{width: '70vw'}">
  <i class="pi pi-info-circle " style="font-size: 1.2rem" ></i>
  Do you want to Enable this Task?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
        (click)="enableTaskForUser()"
      ></button>
    </div>
    <div>
      <button
        (click)="displayTaskEnable=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>

<p-dialog header="List Comments" [(visible)]="displayListComments"[style]="{width: '70vw'}">
  <p-panel>
    <ng-template pTemplate="header">
      List Comments
    </ng-template>
    <div  *ngIf="listCommentTask">

      <p-table [value]="listCommentTask"
               tableStyleClass="red-bottom-border">
        <ng-template pTemplate="header">
          <tr>
            <th>Question</th>
            <th>Response</th>
            <th style="width:20em">Creation Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comment>
          <tr>
            <td style="width:200px">{{ comment.question }}</td>
            <td style="width:200px">{{ comment.comment }}</td>
            <td style="width:200px">{{ comment.creationDate }}</td>
        </ng-template>
      </p-table>
    </div>

  </p-panel>

</p-dialog>


<p-dialog header="Mail Content" [(visible)]="displayContentMail"[style]="{width: '70vw'}">
  <p-panel>
    <ng-template pTemplate="header">
     Mail Content
    </ng-template>
    <ng-template pTemplate="body">

      <table style="border: #A172E4" >

            <th>Subject</th>
            <th>Message</th>
            <th>Creation Date</th>



        <tr>
            <td>{{mailContent.subject}}</td>
            <td style="width: 70%"> {{mailContent.message}}</td>
            <td> {{mailContent.creationDate}}</td>

          </tr>
      </table>
    </ng-template>

  </p-panel>

</p-dialog>





<p-dialog header="Statement Of Work Content" [(visible)]="displayUploadFile"[style]="{width: '70vw'}">
  <p-panel>
    <ng-template pTemplate="header">
      Downoald File
    </ng-template>
    <ng-template pTemplate="body">
      <div   (click)="download()"  class="p-d-flex p-jc-center pointer">
        <div class="p-mr-2 p-mt-2"><i class="fas fa-download fa-2x"></i></div>
        <div class="p-mr-2"><h3>Downoald</h3></div>



      </div>
      </ng-template>

  </p-panel>

</p-dialog>

