.marquee {
    height: 40px;
    width: 100%;
    overflow: hidden;
    position: relative;
    PADDING-BOTTOM: 6px;
    MARGIN: 3px auto;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 6px;
    BACKGROUND: #E6E6FA	;
    COLOR: #666666;
    FONT-SIZE: 15px;
    border: #4B0082 1px solid;
    PADDING-TOP: 6px;
    font-family: 'Kanit', sans-serif;


  }

  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;

    animation: marquee 30s linear infinite;
  }

  .marquee span {
    float: left;
    width: 50%;
       position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 35px;
            text-align: center;
  }

  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

  .margin_Header{
    margin-top: 6%;
  }
