

  <div class="p-d-flex p-jc-end margin_Header" style="background-color: #F2F3F4;height:30px">

      <div class="p-mr-1 p-mt-1">
      <img src="../assets/images/international.png" width="20px" height="20px" alt="">
    </div>
    <div class="p-mr-2 p-mt-1"> <select  #langSelect (change)="changeLanguage($event)">
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select></div>
    <button  [style]="{height: '30px',width:'30px'}" pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-warning" (click)="op.toggle($event)"></button>


  </div>

<p-overlayPanel #op  [style]="{width: '200px'}">
  <ng-template pTemplate>
    <div class="p-d-flex p-flex-column">
      <div class="p-mb-2">
        <button (click)="login()" [style]="{width: '160px'}" pButton type="button" label="{{ 'HOME.TITLE1' | translate }}" class="p-button-success"></button>

      </div>

    </div>

  </ng-template>
</p-overlayPanel>
