@font-face {
  font-family: tomy-light;
  src: url("../../../../assets/fonts/MADE TOMMY Light_PERSONAL USE.otf");
}

@font-face {
  font-family: medium;
  src: url("../../../../assets/fonts/MADE TOMMY Medium_PERSONAL USE.otf");
}
@font-face {
  font-family: tommy-bold;
  src: url("../../../../assets/fonts/MADE TOMMY Bold_PERSONAL USE.otf");
}
:host ::ng-deep.p-button{
  background: #5b2178;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.4s ease;

}

:host ::ng-deep.p-button:hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #e5c431;

}
.panel-size{
  width: 100%;
}

tr:hover {background-color: #f4f4f4;}
i:hover{
  color: #e8a036;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

i{
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.4s ease;
  font-size: 2vw;
}
i:active {
  color: green;
  transition: all 0.1s ease;
}

label{
  font-size: 1.3vw;

  font-family: tomy-light;
}
.profile{
  color: #5b2178;
  font-size: 1.5vw;
  font-family: medium;


}
.image-profile{
  width: 2.6041666666666665vw;
  height: 2.6041666666666665vw;
}
.fa-edit{
  color: #5b2178;
}
:host ::ng-deep.p-panel .p-panel-title {
  font-size: 1.8vw;
}
:host ::ng-deep.p-panel .p-panel-header {
  padding: 0.4rem;
  padding-left: 1.5rem;
  background: #5b2178;
  color: white;
  font-family: tommy-bold ;
  letter-spacing: 0.1vw;
  font-size: 1.8vw;

}

:host ::ng-deep.p-panel .p-panel-header .p-panel-header-icon {
  color: white;
}
:host ::ng-deep.p-panel .p-panel-header .p-panel-header-icon:hover {
  color: #5b2178;
  background-color: white;
}
:host ::ng-deep.p-breadcrumb ul {
  color: #000000;
  font-size: 1.2vw;
  font-family:tommy-medium ;
}
:host ::ng-deep.p-breadcrumb ul li.p-breadcrumb-chevron {
  margin: 0 .5rem;
  color: #000000;
  font-size: 1.2vw;
}
:host ::ng-deep.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
  color: #000000;
  font-size: 1.2vw;
}
:host ::ng-deep.p-dialog  {
width: 30vw;
}
:host ::ng-deep.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 500;
  font-size: 1.5vw;
  color: white;
  margin-left: 0.2vw;
}
:host ::ng-deep.p-dialog .p-dialog-header {
  border-bottom: 0;
  background: #5b2178;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.8vw;
}
:host ::ng-deep.p-dialog .p-dialog-header .p-dialog-header-icon:enabled {
  color: #ffffff;
}
:host ::ng-deep.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #5b2178;
  background-color: white;
}
.icon-profile{
  width: 30px;
}
h2{
  font-size: 1.2vw;
}

.editUserName{
  display: none;
  font-size: 1.5vw;
}

.userName:hover .editUserName {
  display: block;
}
.userName:active .editUserName {
  display: block;
}

@media screen and (max-width: 992px) {
  :host ::ng-deep.p-breadcrumb ul {
    font-size: 2vw;
  }
  :host ::ng-deep.p-breadcrumb ul li.p-breadcrumb-chevron {
    margin: 0 .5rem;
    font-size: 2vw;
  }
  :host ::ng-deep.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    font-size: 2vw;
  }
  label{
    font-size: 3vw;
  }
  .profile{
    font-size: 4vw;
  }
  i{
    font-size: 4vw;
  }
  :host ::ng-deep.p-panel .p-panel-header {
    font-size: 4vw;
  }
  :host ::ng-deep.p-panel .p-panel-title {
    font-size:4vw;
  }

  :host ::ng-deep.p-dialog  {
    width: 60vw;
  }
  :host ::ng-deep.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 3vw;

  }

  h2{
    font-size: 2.5vw;
  }
  .image-profile{
    width: 6vw;
    height: 6vw;
  }
  .editUserName{

    font-size: 3.5vw;
  }


}
@media screen and (max-width: 500px) {
  :host ::ng-deep.p-breadcrumb ul {
    font-size: 3vw;
  }
  :host ::ng-deep.p-breadcrumb ul li.p-breadcrumb-chevron {
    margin: 0 .5rem;
    font-size: 3vw;
  }
  :host ::ng-deep.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    font-size: 3vw;
  }



  :host ::ng-deep.p-dialog  {
    width: 90vw;
  }
  :host ::ng-deep.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 6vw;

  }

  h2{
    font-size: 5vw;
  }
  :host ::ng-deep.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    font-size: 4vw;
  }
  label{
    font-size: 3.5vw;
  }
  .profile{
    font-size: 4vw;
  }
  i{
    font-size: 4vw;
  }
  .image-profile{
    width: 8vw;
    height: 8vw;
  }

}
