<section id="facts_and_figures" class="p-grid">

  <div class="container p-col-12 p-jc-center "   data-aos="fade-up"  data-aos-delay="500"
       data-aos-offset="0"
       data-aos-duration="1000">
      <h1 class=" title1" [class.title-arab]="selectLang==='AR'"  >{{ 'MIDDLE-1.TITLE1' | translate }}</h1>
      <h1  class=" title2" [class.title-arab]="selectLang==='AR'">{{ 'MIDDLE-1.TITLE2' | translate }}</h1>



  </div>


</section>
