@font-face {
  font-family: medium;
  src: url("../../../../../assets/fonts/MADE TOMMY Medium_PERSONAL USE.otf");
}
h1 {
  font-size: 100%;
  font-family: medium;
}
.textinput {
  width: 100%;


}

:host::ng-deep.p-button {
  left: 5%;
  width: 10%;
}


