.service-item {

  align-items: center;
  padding: .5rem;
  width: 100%;
}
img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 1rem;
}

.service-list-name{
  margin-right: 0px
}

.product-list-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
:host ::ng-deep.ng2-pdf-viewer-container{
  left:0px ;
}

@media screen and (max-width: 576px) {
  .service-item {
    flex-wrap: wrap;
  }
  .image-container {
    width: 100%;
    text-align: center;
  }

  .service-item {

    align-items: center;
    padding: .5rem;
    width: 100%;
  }
  img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
  }

  .service-list-name{
    margin-right: 0px
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  :host ::ng-deep.ng2-pdf-viewer-container{
    left:0px ;
  }

  @media screen and (max-width: 576px) {
    .service-item {
      flex-wrap: wrap;
    }

    .image-container {
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 0 1rem 0;
      width: 100px;
    }
  }}
