<p-toast key="toast"></p-toast>
<div class="p-shadow-3">
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

</div>

<p-orderList class="p-d-flex p-mt-6" [value]="services" [listStyle]="{'height':'auto'}" header="List of Services" filterBy="name" filterPlaceholder="Filter by name" >
  <ng-template let-service pTemplate="item">
    <div class="service-item p-grid p-mb-2">

      <div class="service-list-detail p-col-3">

        <img  [src]="  host+'/photoService/'+service.id "  >


        <h3 class="p-d-flex p-ml-2"  >{{service.name}}</h3>


      </div>


<div class="p-col-4">
  <p >{{service.description}}</p>
</div>



      <h5 class="p-col-2 p-jc-center">{{service.appDefaultStatementOfWork?.fileName}}</h5>

      <button class="p-mr-4" pButton type="button" icon="fas fa-eye"    (click)="showBasicDialog(service.id,service.name)"></button>
      <button class="p-button-danger" pButton type="button" icon="fas fa-trash-alt" (click)="showDialoguedeleteService(service.id)"  ></button>





      <p-dialog header={{nameService}} [(visible)]="displayBasic"[resizable]="true" [style]="{width: '800px',height:'100%'}" >

        <pdf-viewer   class=" pdf-viewer "[src]="host+'/downloadFile/'+serviceId"

                      [style]="{width: '100%', height: '800px',display:'block'}" >

        </pdf-viewer>

        <ng-template pTemplate="footer">

        </ng-template>
      </p-dialog>

    </div>



  </ng-template>
</p-orderList>


<p-dialog header="Delete Confirmation" [(visible)]="display">
  <i class="pi pi-info-circle " style="font-size: 1.2rem" ></i>
  Do you want to delete this service?
  <div class="p-d-flex p-jc-end p-mt-4">
    <div>
      <button
        (click)="acceptDeleteService()"
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-mr-2"
      ></button>
    </div>
    <div>
      <button
        (click)="display=false"
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-danger"

      ></button>
    </div>
  </div>

</p-dialog>

