
<div class="container p-grid" style="width: auto" >

  <app-middle6 class="p-col-12 p-lg-12 p-sm-12 p-md-12 p-mb-0 facts_and_figures " ></app-middle6>




<div class=" cards p-col-12 p-lg-10 p-d-flex p-jc-center p-mb-6">

  <div class="p-grid">
    <div  class="  p-lg-4 p-md-12   "
          data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-delay="300"
          data-aos-duration="1000">
      <h1 id="title1" class="p-d-flex title p-mb-4" [class.title-arab]="selectLang==='AR'">{{ 'WORKS.TITLE1' | translate }}</h1>
      <p id="description1" class="description" [class.description-arab]="selectLang==='AR'">{{ 'WORKS.PARAGHRAPH1' | translate }}</p>
    </div>




    <div  class=" p-lg-4 p-md-12 "
          data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-delay="600"
          data-aos-duration="1000">
      <h1 id="title2" class="p-d-flex title p-mb-4" [class.title-arab]="selectLang==='AR'">{{ 'WORKS.TITLE2' | translate }}</h1>
      <p id="description2" class="description" [class.description-arab]="selectLang==='AR'">{{ 'WORKS.PARAGHRAPH2' | translate }}</p>
    </div>





    <div  class="p-lg-4 p-md-12 " data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-delay="900"
          data-aos-duration="1000">

      <h1 id="title3" class=" p-d-flex title p-mb-4"[class.title-arab]="selectLang==='AR'">{{ 'WORKS.TITLE3' | translate }}</h1>
      <p id="description3" class="description" [class.description-arab]="selectLang==='AR'">{{ 'WORKS.PARAGHRAPH3' | translate }}</p>
    </div>

  </div>

</div>









  <div class=" cross p-col-12 p-lg-1 p-mt-4 ">
    <img class="golden-contouring-cross circle p-mb-2 p-mt-2 " src="assets/images/elemenetAnimation/croixContourDore.png">
    <img class="white-cross  p-mb-2" src="assets/images/elemenetAnimation/elemnt1.png">
    <img class="golden-cross circle " src="assets/images/elemenetAnimation/croixDoré.png ">

  </div >
</div>
