@font-face {
  font-family: americana;
  src:url("../../../../assets/fonts/Americanatest.ttf");
}
.container{
background-position:  0px 0px;
background-size: cover;
  background-image: url('../../../../assets/images/services/bg .png') ;
  background-repeat: no-repeat;
  color: white;
  height: 1100px;
}
.facts_and_figures{
  margin-top: 4%;

}
.cards{
  width: 70%;
  margin-bottom: 2%;
  margin-top: -2%;
  margin-left: 12%;
}


.title{
  font-size: 45px;
  letter-spacing: 1px;
  font-family: americana;
  background: -webkit-linear-gradient(#c98215,#e3ac23,#f8de52,#b77e09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description{
  font-size: 1.2rem ;
  font-family: americana;

}


.golden-contouring-cross{
  width: 50px;
  margin-left: 60%;
   rotation: 30deg;
 }.white-cross{
     width: 130px;
  margin-left: 40%;

   }.golden-cross{
  width: 80px;
  margin-left: 82%;
         -webkit-transform:rotate(20deg);
         -moz-transform: rotate(20deg);
         -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
         transform: rotate(20deg);
       }

.circle{


  animation-timing-function: linear;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 20s;

}


@keyframes example {
  0%   { transform: translate(1px, 1px) rotate(0deg);}
  25%  { transform: translate(15px, 0px) rotate(0deg);}
  50%  { transform: translate(0px, 10px) rotate(0deg);}
  75%  {transform: translate(-5px, 0px) rotate(0deg);}
  90% { transform: translate(0px, -5px) rotate(0deg);}
  100% { transform: translate(1px, 1px) rotate(0deg);}
}




.title-arab{
  font-family:GE_SS;
  direction: rtl;
  letter-spacing: 0px;

}

.description-arab{
  font-family:GE_SS_LIGHT;
  direction: rtl;


}

@media screen and (max-width: 1366px) {
  .cross{
    display: none;
  }
  .cards{
    width: 80%;
    margin-bottom: 2%;
    margin-left: 12%;
  }
  .container{
    background-image: url('../../../../assets/images/responsive-background-tablette/03.jpg') ;
    height: 100%;
  }

}
@media screen and (max-width: 758px) {
  .container{
    background-image: url('../../../../assets/images/responsive-background-phone/works-phone.png') ;
    height: 100%;
  }


}







