@font-face {
  font-family: GE_SS;
  src: url("../../../../assets/fonts/GE_SS_Two_Bold.otf");
}

@font-face {
  font-family: GE_SS_LIGHT;
  src: url("../../../../assets/fonts/GE_SS_Two_Light-1.otf");
}

@font-face {
  font-family: GE_SS_MEDIUM;
  src: url("../../../../assets/fonts/GE_SS_Two_Medium.otf");
}


.div_card{
  margin-top:0%;
}


.container{
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../../../../assets/images/home/fond2.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;

}
.arab{
  direction: rtl;

}
.fa-check-circle{
  font-size: 8vw;
  color: green;
}
h2{

  text-align: center;
  font-size: 1.8vw;
}
.h2-arab{
    font-family: GE_SS_MEDIUM;
}
.text-arab{
  font-family: GE_SS_LIGHT;


}
.text1{
  color: green;
}
.text2{
  color: blue;
}
label {
  font-size:1.7vw;
  text-align: center;
}

span{
font-size: 1vw;
}
.background{
  margin-bottom: -1%;
}

@media  screen and (max-width: 1000px) {
  .fa-check-circle{
    font-size: 10vw;
    color: green;
  }
  h2{
    text-align: center;
    font-size: 3vw;
  }
  label {
    font-size:2.2vw;
  }

  span{
    font-size: 2vw;
  }

}


@media  screen and (max-width: 600px) {
  .container{
    min-height: 95.3vh;
    background-color: #190d25;

  }
  ::ng-deep {
  .p-card {
    border-radius: 0px;
    height: 100%;
    width: 95vw;
    padding-bottom: 0rem;
  }
    .p-button{
      font-size: 0.9rem;
    }
}
  .fa-check-circle{
    font-size: 25vw;
    color: green;
  }


  h2{
    text-align: center;
    font-size: 7vw;
  }
  .text1{
    color: green;
  }
  .text2{
    color: blue;
  }
  label {
   font-size: 5vw;
  }
  span{
    font-size:4vw;
  }
  .background{
    margin-bottom: -4%;
  }
}



#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1487px 822px #FFF , 702px 619px #FFF , 579px 76px #FFF , 881px 14px #FFF , 1903px 741px #FFF , 1401px 1791px #FFF , 1316px 857px #FFF , 1628px 1376px #FFF , 1641px 781px #FFF , 1421px 25px #FFF , 525px 254px #FFF , 683px 1197px #FFF , 1636px 1573px #FFF , 1855px 1220px #FFF , 108px 1424px #FFF , 906px 1967px #FFF , 205px 1681px #FFF , 1930px 731px #FFF , 1957px 104px #FFF , 1558px 24px #FFF , 211px 468px #FFF , 2px 1001px #FFF , 664px 1095px #FFF , 1023px 1573px #FFF , 272px 122px #FFF , 659px 1641px #FFF , 1518px 1633px #FFF , 1736px 1016px #FFF , 1085px 1911px #FFF , 737px 1784px #FFF , 564px 968px #FFF , 150px 1277px #FFF , 1848px 505px #FFF , 1067px 1414px #FFF , 1619px 1498px #FFF , 266px 757px #FFF , 450px 1052px #FFF , 604px 1178px #FFF , 1069px 1215px #FFF , 1045px 1816px #FFF , 1682px 1111px #FFF , 578px 1875px #FFF , 1197px 20px #FFF , 736px 1923px #FFF , 1698px 592px #FFF , 491px 1835px #FFF , 106px 1113px #FFF , 1944px 1749px #FFF , 677px 525px #FFF , 798px 1663px #FFF , 463px 19px #FFF , 1982px 1091px #FFF , 736px 1597px #FFF , 244px 1625px #FFF , 1699px 1257px #FFF , 624px 114px #FFF , 1290px 48px #FFF , 1007px 1111px #FFF , 1411px 31px #FFF , 1661px 1065px #FFF , 1583px 1593px #FFF , 1165px 1985px #FFF , 351px 222px #FFF , 158px 709px #FFF , 1304px 194px #FFF , 1192px 1923px #FFF , 358px 1642px #FFF , 889px 1701px #FFF , 424px 1427px #FFF , 1928px 573px #FFF , 1263px 1473px #FFF , 498px 33px #FFF , 1043px 286px #FFF , 843px 1917px #FFF , 909px 813px #FFF , 1033px 291px #FFF , 41px 749px #FFF , 1807px 1719px #FFF , 1984px 284px #FFF , 1983px 1696px #FFF , 1409px 179px #FFF , 1350px 929px #FFF , 332px 1747px #FFF , 212px 1977px #FFF , 1668px 1254px #FFF , 1585px 1736px #FFF , 783px 85px #FFF , 1961px 847px #FFF , 1692px 996px #FFF , 1829px 694px #FFF , 965px 891px #FFF , 1793px 102px #FFF , 1347px 235px #FFF , 1566px 1954px #FFF , 1406px 1765px #FFF , 1346px 1832px #FFF , 452px 1205px #FFF , 1667px 1688px #FFF , 1337px 1664px #FFF , 1728px 832px #FFF , 1568px 1213px #FFF , 1980px 357px #FFF , 1096px 624px #FFF , 210px 636px #FFF , 1247px 1830px #FFF , 1789px 1970px #FFF , 582px 978px #FFF , 1473px 1002px #FFF , 1042px 440px #FFF , 1189px 879px #FFF , 24px 931px #FFF , 1656px 1848px #FFF , 401px 1676px #FFF , 192px 1632px #FFF , 970px 1936px #FFF , 231px 1849px #FFF , 1860px 127px #FFF , 469px 1487px #FFF , 436px 1899px #FFF , 680px 1290px #FFF , 809px 128px #FFF , 163px 683px #FFF , 1221px 1732px #FFF , 982px 801px #FFF , 149px 455px #FFF , 39px 1305px #FFF , 248px 1059px #FFF , 1985px 1040px #FFF , 823px 1174px #FFF , 1823px 12px #FFF , 1558px 1446px #FFF , 164px 348px #FFF , 504px 311px #FFF , 95px 1735px #FFF , 1817px 560px #FFF , 1527px 1792px #FFF , 296px 377px #FFF , 1480px 353px #FFF , 1419px 1148px #FFF , 734px 610px #FFF , 1233px 1076px #FFF , 1495px 198px #FFF , 1722px 1821px #FFF , 57px 914px #FFF , 81px 1967px #FFF , 157px 1383px #FFF , 478px 1545px #FFF , 96px 1485px #FFF , 1248px 1516px #FFF , 1989px 1475px #FFF , 730px 61px #FFF , 646px 342px #FFF , 656px 376px #FFF , 809px 1394px #FFF , 483px 1916px #FFF , 695px 1985px #FFF , 954px 279px #FFF , 1704px 234px #FFF , 204px 1621px #FFF , 490px 414px #FFF , 929px 1852px #FFF , 383px 1017px #FFF , 1319px 14px #FFF , 103px 1147px #FFF , 1780px 62px #FFF , 764px 318px #FFF , 950px 1468px #FFF , 767px 8px #FFF , 1038px 763px #FFF , 62px 680px #FFF , 1619px 817px #FFF , 1462px 1819px #FFF , 1340px 1956px #FFF , 1802px 902px #FFF , 1739px 1865px #FFF , 886px 854px #FFF , 1760px 1693px #FFF , 1571px 1175px #FFF , 1149px 1748px #FFF , 1521px 1213px #FFF , 575px 162px #FFF , 1904px 456px #FFF , 1399px 416px #FFF , 1325px 1118px #FFF , 1848px 478px #FFF , 1447px 841px #FFF , 457px 1619px #FFF , 1202px 1049px #FFF , 397px 682px #FFF , 465px 1042px #FFF , 1264px 1033px #FFF , 1304px 1004px #FFF , 649px 1586px #FFF , 97px 1308px #FFF , 21px 619px #FFF , 469px 1742px #FFF , 81px 1745px #FFF , 1735px 1208px #FFF , 805px 1206px #FFF , 717px 492px #FFF , 187px 1317px #FFF , 860px 1290px #FFF , 1964px 1712px #FFF , 1036px 142px #FFF , 1238px 442px #FFF , 1766px 423px #FFF , 925px 353px #FFF , 569px 5px #FFF , 1338px 383px #FFF , 1321px 90px #FFF , 1613px 749px #FFF , 409px 1835px #FFF , 642px 715px #FFF , 1402px 444px #FFF , 1669px 197px #FFF , 291px 1022px #FFF , 632px 1847px #FFF , 678px 810px #FFF , 570px 798px #FFF , 1521px 681px #FFF , 309px 176px #FFF , 1913px 882px #FFF , 1129px 1601px #FFF , 1310px 1490px #FFF , 883px 1925px #FFF , 1354px 140px #FFF , 1474px 628px #FFF , 1997px 230px #FFF , 351px 1212px #FFF , 576px 706px #FFF , 1210px 1325px #FFF , 1927px 315px #FFF , 1505px 1249px #FFF , 699px 1811px #FFF , 1428px 913px #FFF , 691px 1811px #FFF , 977px 1645px #FFF , 330px 260px #FFF , 1632px 1148px #FFF , 878px 1070px #FFF , 390px 1127px #FFF , 1915px 1956px #FFF , 805px 314px #FFF , 260px 623px #FFF , 1471px 1629px #FFF , 1333px 1800px #FFF , 1158px 1712px #FFF , 813px 641px #FFF , 608px 761px #FFF , 529px 1163px #FFF , 1916px 1476px #FFF , 308px 1823px #FFF , 910px 894px #FFF , 839px 431px #FFF , 1638px 1599px #FFF , 128px 1590px #FFF , 1157px 1788px #FFF , 1035px 773px #FFF , 389px 277px #FFF , 553px 1014px #FFF , 1978px 668px #FFF , 615px 1056px #FFF , 944px 1726px #FFF , 974px 324px #FFF , 1448px 349px #FFF , 848px 405px #FFF , 1757px 1457px #FFF , 468px 1754px #FFF , 714px 414px #FFF , 697px 592px #FFF , 1434px 1246px #FFF , 258px 1687px #FFF , 953px 1354px #FFF , 922px 179px #FFF , 1899px 662px #FFF , 1103px 448px #FFF , 1205px 799px #FFF , 1256px 1247px #FFF , 1772px 194px #FFF , 1809px 1285px #FFF , 518px 698px #FFF , 1906px 332px #FFF , 1182px 536px #FFF , 1758px 354px #FFF , 131px 1042px #FFF , 923px 1832px #FFF , 1117px 1198px #FFF , 143px 1532px #FFF , 1401px 395px #FFF , 1359px 1550px #FFF , 615px 206px #FFF , 694px 475px #FFF , 530px 1675px #FFF , 1413px 1544px #FFF , 1330px 1429px #FFF , 1433px 1453px #FFF , 1271px 846px #FFF , 1369px 1790px #FFF , 517px 1392px #FFF , 897px 1434px #FFF , 1906px 1012px #FFF , 1523px 1474px #FFF , 666px 7px #FFF , 598px 1273px #FFF , 1544px 541px #FFF , 248px 268px #FFF , 1992px 848px #FFF , 571px 870px #FFF , 1228px 679px #FFF , 1096px 187px #FFF , 1553px 15px #FFF , 523px 779px #FFF , 140px 231px #FFF , 659px 577px #FFF , 463px 727px #FFF , 986px 623px #FFF , 1822px 1062px #FFF , 596px 1460px #FFF , 462px 115px #FFF , 1318px 516px #FFF , 409px 729px #FFF , 710px 976px #FFF , 1163px 1539px #FFF , 1542px 1362px #FFF , 394px 1840px #FFF , 904px 1541px #FFF , 1549px 538px #FFF , 1594px 1384px #FFF , 1030px 1465px #FFF , 599px 544px #FFF , 1933px 241px #FFF , 1281px 287px #FFF , 729px 1282px #FFF , 819px 364px #FFF , 797px 1590px #FFF , 1023px 1973px #FFF , 1708px 961px #FFF , 293px 1953px #FFF , 1685px 1879px #FFF , 1285px 1995px #FFF , 1380px 219px #FFF , 1715px 1980px #FFF , 218px 108px #FFF , 700px 711px #FFF , 471px 1764px #FFF , 10px 1084px #FFF , 1841px 1778px #FFF , 1765px 1548px #FFF , 712px 1703px #FFF , 1866px 1805px #FFF , 1896px 760px #FFF , 1391px 40px #FFF , 761px 1516px #FFF , 1329px 584px #FFF , 385px 1141px #FFF , 1238px 21px #FFF , 1070px 486px #FFF , 1096px 312px #FFF , 1254px 1674px #FFF , 549px 1349px #FFF , 1618px 986px #FFF , 707px 1741px #FFF , 1718px 1514px #FFF , 481px 597px #FFF , 1690px 1472px #FFF , 1728px 919px #FFF , 173px 1196px #FFF , 1778px 1257px #FFF , 1207px 649px #FFF , 447px 634px #FFF , 1306px 1444px #FFF , 936px 1818px #FFF , 855px 1015px #FFF , 1421px 332px #FFF , 1138px 1889px #FFF , 1974px 694px #FFF , 715px 308px #FFF , 757px 155px #FFF , 18px 107px #FFF , 561px 378px #FFF , 144px 798px #FFF , 1184px 967px #FFF , 1263px 1130px #FFF , 1382px 895px #FFF , 149px 175px #FFF , 1297px 839px #FFF , 943px 454px #FFF , 178px 1165px #FFF , 477px 407px #FFF , 416px 219px #FFF , 1056px 1491px #FFF , 625px 816px #FFF , 100px 1537px #FFF , 1074px 520px #FFF , 1031px 1453px #FFF , 1377px 614px #FFF , 572px 1314px #FFF , 1513px 1235px #FFF , 1920px 1211px #FFF , 330px 107px #FFF , 1260px 772px #FFF , 1198px 84px #FFF , 1409px 139px #FFF , 758px 98px #FFF , 698px 1771px #FFF , 273px 275px #FFF , 163px 200px #FFF , 1665px 732px #FFF , 95px 600px #FFF , 522px 122px #FFF , 76px 804px #FFF , 1669px 1526px #FFF , 1881px 465px #FFF , 1043px 1919px #FFF , 1521px 827px #FFF , 1197px 1997px #FFF , 489px 593px #FFF , 1899px 722px #FFF , 1575px 332px #FFF , 327px 718px #FFF , 1959px 1378px #FFF , 455px 1333px #FFF , 729px 822px #FFF , 748px 126px #FFF , 444px 445px #FFF , 1856px 262px #FFF , 1140px 921px #FFF , 1680px 1227px #FFF , 1144px 1742px #FFF , 1922px 384px #FFF , 1015px 496px #FFF , 1213px 831px #FFF , 1793px 898px #FFF , 35px 159px #FFF , 571px 1505px #FFF , 726px 42px #FFF , 1216px 1214px #FFF , 938px 50px #FFF , 322px 1017px #FFF , 1222px 523px #FFF , 660px 1174px #FFF , 355px 859px #FFF , 1381px 1648px #FFF , 8px 1546px #FFF , 1768px 17px #FFF , 301px 1159px #FFF , 1550px 185px #FFF , 1289px 656px #FFF , 1187px 106px #FFF , 669px 1498px #FFF , 555px 323px #FFF , 454px 288px #FFF , 72px 271px #FFF , 445px 1713px #FFF , 136px 10px #FFF , 1810px 1149px #FFF , 1445px 794px #FFF , 406px 1822px #FFF , 1994px 741px #FFF , 1837px 1564px #FFF , 1264px 80px #FFF , 273px 845px #FFF , 322px 1693px #FFF , 103px 463px #FFF , 689px 1161px #FFF , 353px 717px #FFF , 1275px 1895px #FFF , 1331px 130px #FFF , 1251px 1424px #FFF , 1003px 1183px #FFF , 721px 904px #FFF , 1261px 416px #FFF , 600px 577px #FFF , 384px 910px #FFF , 1248px 1547px #FFF , 955px 734px #FFF , 686px 891px #FFF , 196px 1523px #FFF , 831px 327px #FFF , 845px 1486px #FFF , 1553px 1438px #FFF , 1133px 1152px #FFF , 356px 1087px #FFF , 1503px 807px #FFF , 1098px 1396px #FFF , 94px 1934px #FFF , 1195px 58px #FFF , 748px 771px #FFF , 940px 570px #FFF , 574px 651px #FFF , 835px 533px #FFF , 42px 1210px #FFF , 496px 1791px #FFF , 1610px 296px #FFF , 1446px 1574px #FFF , 261px 1765px #FFF , 818px 368px #FFF , 573px 743px #FFF , 545px 333px #FFF , 1500px 1567px #FFF , 1789px 448px #FFF , 1139px 1559px #FFF , 1607px 1127px #FFF , 1980px 874px #FFF , 731px 1559px #FFF , 898px 158px #FFF , 1641px 1053px #FFF , 53px 377px #FFF , 1879px 1370px #FFF , 1377px 899px #FFF , 1416px 829px #FFF , 863px 1545px #FFF , 1219px 1935px #FFF , 1638px 320px #FFF , 239px 1807px #FFF , 851px 464px #FFF , 1868px 1843px #FFF , 679px 203px #FFF , 1762px 842px #FFF , 59px 1986px #FFF , 1142px 1911px #FFF , 838px 1030px #FFF , 1370px 1269px #FFF , 781px 274px #FFF , 1193px 551px #FFF , 638px 478px #FFF , 456px 1854px #FFF , 424px 690px #FFF , 13px 600px #FFF , 306px 1867px #FFF , 384px 1298px #FFF , 762px 342px #FFF , 1780px 1196px #FFF , 108px 1138px #FFF , 1671px 866px #FFF , 831px 1515px #FFF , 218px 1455px #FFF , 1315px 1494px #FFF , 1365px 1181px #FFF , 168px 986px #FFF , 349px 506px #FFF , 974px 1437px #FFF , 1605px 908px #FFF , 1036px 1208px #FFF , 1082px 1407px #FFF , 916px 827px #FFF , 1526px 566px #FFF , 1159px 1877px #FFF , 210px 1180px #FFF , 979px 1815px #FFF , 130px 1358px #FFF , 1961px 1963px #FFF , 771px 591px #FFF , 1905px 487px #FFF , 1816px 1565px #FFF , 333px 1600px #FFF , 1842px 1774px #FFF , 1573px 135px #FFF , 1385px 1889px #FFF , 1611px 1033px #FFF , 367px 1236px #FFF , 779px 1022px #FFF , 1851px 62px #FFF , 478px 257px #FFF , 1907px 1960px #FFF , 1435px 532px #FFF , 662px 8px #FFF , 1027px 1924px #FFF , 489px 101px #FFF , 76px 1875px #FFF , 657px 1682px #FFF , 1993px 1955px #FFF , 1432px 1845px #FFF , 1530px 1729px #FFF , 1211px 896px #FFF , 1525px 133px #FFF , 1445px 803px #FFF , 530px 62px #FFF , 242px 1513px #FFF , 256px 933px #FFF , 1701px 936px #FFF , 756px 1893px #FFF , 1251px 1298px #FFF , 380px 1399px #FFF , 1455px 302px #FFF , 1729px 1171px #FFF , 585px 49px #FFF , 1961px 1124px #FFF , 1241px 552px #FFF , 1205px 40px #FFF , 1938px 1247px #FFF , 1469px 89px #FFF , 239px 1939px #FFF , 698px 448px #FFF , 1795px 346px #FFF , 151px 487px #FFF , 102px 126px #FFF , 1184px 418px #FFF , 1625px 1418px #FFF , 29px 554px #FFF , 1288px 1274px #FFF , 791px 1308px #FFF , 151px 934px #FFF , 1574px 386px #FFF , 1214px 1703px #FFF , 1569px 1424px #FFF , 951px 1830px #FFF , 1728px 805px #FFF , 312px 1987px #FFF , 1468px 529px #FFF , 1153px 1146px #FFF , 1262px 1021px #FFF , 1648px 1766px #FFF , 306px 70px #FFF , 754px 1165px #FFF , 1930px 482px #FFF , 1814px 1593px #FFF , 1066px 822px #FFF , 1250px 877px #FFF , 465px 1885px #FFF , 1649px 1281px #FFF , 1682px 1601px #FFF , 1367px 1233px #FFF , 91px 1327px #FFF , 1485px 1355px #FFF , 501px 1673px #FFF , 1649px 1259px #FFF , 1986px 948px #FFF , 1266px 1829px #FFF , 135px 1503px #FFF , 647px 296px #FFF , 155px 341px #FFF , 649px 1896px #FFF , 1617px 334px #FFF , 223px 1507px #FFF , 584px 146px #FFF , 200px 316px #FFF , 575px 1831px #FFF , 1374px 1809px #FFF , 1445px 386px #FFF , 475px 1249px #FFF , 1954px 89px #FFF , 1756px 1192px #FFF , 8px 671px #FFF , 1366px 1694px #FFF , 1831px 306px #FFF , 925px 113px #FFF , 160px 1174px #FFF , 534px 1908px #FFF , 553px 273px #FFF , 423px 45px #FFF , 1305px 1098px #FFF , 187px 90px #FFF , 1993px 1396px #FFF , 842px 1270px #FFF , 1137px 554px #FFF , 351px 558px #FFF , 1576px 1070px #FFF , 437px 312px #FFF , 286px 1019px #FFF , 257px 272px #FFF , 1242px 1957px #FFF , 1963px 1693px #FFF , 772px 447px #FFF , 1641px 508px #FFF , 712px 100px #FFF , 1307px 1015px #FFF , 742px 327px #FFF , 281px 1814px #FFF , 1398px 1051px #FFF , 167px 9px #FFF , 328px 1489px #FFF , 1814px 1804px #FFF , 946px 25px #FFF , 549px 1705px #FFF , 217px 1477px #FFF , 1937px 280px #FFF , 182px 241px #FFF , 711px 1365px #FFF , 1898px 1043px #FFF , 1807px 346px #FFF , 1787px 1253px #FFF , 247px 66px #FFF , 1171px 1592px #FFF , 846px 895px #FFF , 1507px 720px #FFF , 787px 574px #FFF , 1593px 1267px #FFF , 843px 1902px #FFF , 15px 1454px #FFF , 539px 1420px #FFF , 1856px 974px #FFF , 340px 663px #FFF , 1579px 1091px #FFF , 809px 111px #FFF , 32px 1128px #FFF , 69px 1852px #FFF , 878px 300px #FFF , 730px 726px #FFF , 1137px 68px #FFF;
  animation: animStar 25s linear infinite;
  &:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1487px 822px #FFF , 702px 619px #FFF , 579px 76px #FFF , 881px 14px #FFF , 1903px 741px #FFF , 1401px 1791px #FFF , 1316px 857px #FFF , 1628px 1376px #FFF , 1641px 781px #FFF , 1421px 25px #FFF , 525px 254px #FFF , 683px 1197px #FFF , 1636px 1573px #FFF , 1855px 1220px #FFF , 108px 1424px #FFF , 906px 1967px #FFF , 205px 1681px #FFF , 1930px 731px #FFF , 1957px 104px #FFF , 1558px 24px #FFF , 211px 468px #FFF , 2px 1001px #FFF , 664px 1095px #FFF , 1023px 1573px #FFF , 272px 122px #FFF , 659px 1641px #FFF , 1518px 1633px #FFF , 1736px 1016px #FFF , 1085px 1911px #FFF , 737px 1784px #FFF , 564px 968px #FFF , 150px 1277px #FFF , 1848px 505px #FFF , 1067px 1414px #FFF , 1619px 1498px #FFF , 266px 757px #FFF , 450px 1052px #FFF , 604px 1178px #FFF , 1069px 1215px #FFF , 1045px 1816px #FFF , 1682px 1111px #FFF , 578px 1875px #FFF , 1197px 20px #FFF , 736px 1923px #FFF , 1698px 592px #FFF , 491px 1835px #FFF , 106px 1113px #FFF , 1944px 1749px #FFF , 677px 525px #FFF , 798px 1663px #FFF , 463px 19px #FFF , 1982px 1091px #FFF , 736px 1597px #FFF , 244px 1625px #FFF , 1699px 1257px #FFF , 624px 114px #FFF , 1290px 48px #FFF , 1007px 1111px #FFF , 1411px 31px #FFF , 1661px 1065px #FFF , 1583px 1593px #FFF , 1165px 1985px #FFF , 351px 222px #FFF , 158px 709px #FFF , 1304px 194px #FFF , 1192px 1923px #FFF , 358px 1642px #FFF , 889px 1701px #FFF , 424px 1427px #FFF , 1928px 573px #FFF , 1263px 1473px #FFF , 498px 33px #FFF , 1043px 286px #FFF , 843px 1917px #FFF , 909px 813px #FFF , 1033px 291px #FFF , 41px 749px #FFF , 1807px 1719px #FFF , 1984px 284px #FFF , 1983px 1696px #FFF , 1409px 179px #FFF , 1350px 929px #FFF , 332px 1747px #FFF , 212px 1977px #FFF , 1668px 1254px #FFF , 1585px 1736px #FFF , 783px 85px #FFF , 1961px 847px #FFF , 1692px 996px #FFF , 1829px 694px #FFF , 965px 891px #FFF , 1793px 102px #FFF , 1347px 235px #FFF , 1566px 1954px #FFF , 1406px 1765px #FFF , 1346px 1832px #FFF , 452px 1205px #FFF , 1667px 1688px #FFF , 1337px 1664px #FFF , 1728px 832px #FFF , 1568px 1213px #FFF , 1980px 357px #FFF , 1096px 624px #FFF , 210px 636px #FFF , 1247px 1830px #FFF , 1789px 1970px #FFF , 582px 978px #FFF , 1473px 1002px #FFF , 1042px 440px #FFF , 1189px 879px #FFF , 24px 931px #FFF , 1656px 1848px #FFF , 401px 1676px #FFF , 192px 1632px #FFF , 970px 1936px #FFF , 231px 1849px #FFF , 1860px 127px #FFF , 469px 1487px #FFF , 436px 1899px #FFF , 680px 1290px #FFF , 809px 128px #FFF , 163px 683px #FFF , 1221px 1732px #FFF , 982px 801px #FFF , 149px 455px #FFF , 39px 1305px #FFF , 248px 1059px #FFF , 1985px 1040px #FFF , 823px 1174px #FFF , 1823px 12px #FFF , 1558px 1446px #FFF , 164px 348px #FFF , 504px 311px #FFF , 95px 1735px #FFF , 1817px 560px #FFF , 1527px 1792px #FFF , 296px 377px #FFF , 1480px 353px #FFF , 1419px 1148px #FFF , 734px 610px #FFF , 1233px 1076px #FFF , 1495px 198px #FFF , 1722px 1821px #FFF , 57px 914px #FFF , 81px 1967px #FFF , 157px 1383px #FFF , 478px 1545px #FFF , 96px 1485px #FFF , 1248px 1516px #FFF , 1989px 1475px #FFF , 730px 61px #FFF , 646px 342px #FFF , 656px 376px #FFF , 809px 1394px #FFF , 483px 1916px #FFF , 695px 1985px #FFF , 954px 279px #FFF , 1704px 234px #FFF , 204px 1621px #FFF , 490px 414px #FFF , 929px 1852px #FFF , 383px 1017px #FFF , 1319px 14px #FFF , 103px 1147px #FFF , 1780px 62px #FFF , 764px 318px #FFF , 950px 1468px #FFF , 767px 8px #FFF , 1038px 763px #FFF , 62px 680px #FFF , 1619px 817px #FFF , 1462px 1819px #FFF , 1340px 1956px #FFF , 1802px 902px #FFF , 1739px 1865px #FFF , 886px 854px #FFF , 1760px 1693px #FFF , 1571px 1175px #FFF , 1149px 1748px #FFF , 1521px 1213px #FFF , 575px 162px #FFF , 1904px 456px #FFF , 1399px 416px #FFF , 1325px 1118px #FFF , 1848px 478px #FFF , 1447px 841px #FFF , 457px 1619px #FFF , 1202px 1049px #FFF , 397px 682px #FFF , 465px 1042px #FFF , 1264px 1033px #FFF , 1304px 1004px #FFF , 649px 1586px #FFF , 97px 1308px #FFF , 21px 619px #FFF , 469px 1742px #FFF , 81px 1745px #FFF , 1735px 1208px #FFF , 805px 1206px #FFF , 717px 492px #FFF , 187px 1317px #FFF , 860px 1290px #FFF , 1964px 1712px #FFF , 1036px 142px #FFF , 1238px 442px #FFF , 1766px 423px #FFF , 925px 353px #FFF , 569px 5px #FFF , 1338px 383px #FFF , 1321px 90px #FFF , 1613px 749px #FFF , 409px 1835px #FFF , 642px 715px #FFF , 1402px 444px #FFF , 1669px 197px #FFF , 291px 1022px #FFF , 632px 1847px #FFF , 678px 810px #FFF , 570px 798px #FFF , 1521px 681px #FFF , 309px 176px #FFF , 1913px 882px #FFF , 1129px 1601px #FFF , 1310px 1490px #FFF , 883px 1925px #FFF , 1354px 140px #FFF , 1474px 628px #FFF , 1997px 230px #FFF , 351px 1212px #FFF , 576px 706px #FFF , 1210px 1325px #FFF , 1927px 315px #FFF , 1505px 1249px #FFF , 699px 1811px #FFF , 1428px 913px #FFF , 691px 1811px #FFF , 977px 1645px #FFF , 330px 260px #FFF , 1632px 1148px #FFF , 878px 1070px #FFF , 390px 1127px #FFF , 1915px 1956px #FFF , 805px 314px #FFF , 260px 623px #FFF , 1471px 1629px #FFF , 1333px 1800px #FFF , 1158px 1712px #FFF , 813px 641px #FFF , 608px 761px #FFF , 529px 1163px #FFF , 1916px 1476px #FFF , 308px 1823px #FFF , 910px 894px #FFF , 839px 431px #FFF , 1638px 1599px #FFF , 128px 1590px #FFF , 1157px 1788px #FFF , 1035px 773px #FFF , 389px 277px #FFF , 553px 1014px #FFF , 1978px 668px #FFF , 615px 1056px #FFF , 944px 1726px #FFF , 974px 324px #FFF , 1448px 349px #FFF , 848px 405px #FFF , 1757px 1457px #FFF , 468px 1754px #FFF , 714px 414px #FFF , 697px 592px #FFF , 1434px 1246px #FFF , 258px 1687px #FFF , 953px 1354px #FFF , 922px 179px #FFF , 1899px 662px #FFF , 1103px 448px #FFF , 1205px 799px #FFF , 1256px 1247px #FFF , 1772px 194px #FFF , 1809px 1285px #FFF , 518px 698px #FFF , 1906px 332px #FFF , 1182px 536px #FFF , 1758px 354px #FFF , 131px 1042px #FFF , 923px 1832px #FFF , 1117px 1198px #FFF , 143px 1532px #FFF , 1401px 395px #FFF , 1359px 1550px #FFF , 615px 206px #FFF , 694px 475px #FFF , 530px 1675px #FFF , 1413px 1544px #FFF , 1330px 1429px #FFF , 1433px 1453px #FFF , 1271px 846px #FFF , 1369px 1790px #FFF , 517px 1392px #FFF , 897px 1434px #FFF , 1906px 1012px #FFF , 1523px 1474px #FFF , 666px 7px #FFF , 598px 1273px #FFF , 1544px 541px #FFF , 248px 268px #FFF , 1992px 848px #FFF , 571px 870px #FFF , 1228px 679px #FFF , 1096px 187px #FFF , 1553px 15px #FFF , 523px 779px #FFF , 140px 231px #FFF , 659px 577px #FFF , 463px 727px #FFF , 986px 623px #FFF , 1822px 1062px #FFF , 596px 1460px #FFF , 462px 115px #FFF , 1318px 516px #FFF , 409px 729px #FFF , 710px 976px #FFF , 1163px 1539px #FFF , 1542px 1362px #FFF , 394px 1840px #FFF , 904px 1541px #FFF , 1549px 538px #FFF , 1594px 1384px #FFF , 1030px 1465px #FFF , 599px 544px #FFF , 1933px 241px #FFF , 1281px 287px #FFF , 729px 1282px #FFF , 819px 364px #FFF , 797px 1590px #FFF , 1023px 1973px #FFF , 1708px 961px #FFF , 293px 1953px #FFF , 1685px 1879px #FFF , 1285px 1995px #FFF , 1380px 219px #FFF , 1715px 1980px #FFF , 218px 108px #FFF , 700px 711px #FFF , 471px 1764px #FFF , 10px 1084px #FFF , 1841px 1778px #FFF , 1765px 1548px #FFF , 712px 1703px #FFF , 1866px 1805px #FFF , 1896px 760px #FFF , 1391px 40px #FFF , 761px 1516px #FFF , 1329px 584px #FFF , 385px 1141px #FFF , 1238px 21px #FFF , 1070px 486px #FFF , 1096px 312px #FFF , 1254px 1674px #FFF , 549px 1349px #FFF , 1618px 986px #FFF , 707px 1741px #FFF , 1718px 1514px #FFF , 481px 597px #FFF , 1690px 1472px #FFF , 1728px 919px #FFF , 173px 1196px #FFF , 1778px 1257px #FFF , 1207px 649px #FFF , 447px 634px #FFF , 1306px 1444px #FFF , 936px 1818px #FFF , 855px 1015px #FFF , 1421px 332px #FFF , 1138px 1889px #FFF , 1974px 694px #FFF , 715px 308px #FFF , 757px 155px #FFF , 18px 107px #FFF , 561px 378px #FFF , 144px 798px #FFF , 1184px 967px #FFF , 1263px 1130px #FFF , 1382px 895px #FFF , 149px 175px #FFF , 1297px 839px #FFF , 943px 454px #FFF , 178px 1165px #FFF , 477px 407px #FFF , 416px 219px #FFF , 1056px 1491px #FFF , 625px 816px #FFF , 100px 1537px #FFF , 1074px 520px #FFF , 1031px 1453px #FFF , 1377px 614px #FFF , 572px 1314px #FFF , 1513px 1235px #FFF , 1920px 1211px #FFF , 330px 107px #FFF , 1260px 772px #FFF , 1198px 84px #FFF , 1409px 139px #FFF , 758px 98px #FFF , 698px 1771px #FFF , 273px 275px #FFF , 163px 200px #FFF , 1665px 732px #FFF , 95px 600px #FFF , 522px 122px #FFF , 76px 804px #FFF , 1669px 1526px #FFF , 1881px 465px #FFF , 1043px 1919px #FFF , 1521px 827px #FFF , 1197px 1997px #FFF , 489px 593px #FFF , 1899px 722px #FFF , 1575px 332px #FFF , 327px 718px #FFF , 1959px 1378px #FFF , 455px 1333px #FFF , 729px 822px #FFF , 748px 126px #FFF , 444px 445px #FFF , 1856px 262px #FFF , 1140px 921px #FFF , 1680px 1227px #FFF , 1144px 1742px #FFF , 1922px 384px #FFF , 1015px 496px #FFF , 1213px 831px #FFF , 1793px 898px #FFF , 35px 159px #FFF , 571px 1505px #FFF , 726px 42px #FFF , 1216px 1214px #FFF , 938px 50px #FFF , 322px 1017px #FFF , 1222px 523px #FFF , 660px 1174px #FFF , 355px 859px #FFF , 1381px 1648px #FFF , 8px 1546px #FFF , 1768px 17px #FFF , 301px 1159px #FFF , 1550px 185px #FFF , 1289px 656px #FFF , 1187px 106px #FFF , 669px 1498px #FFF , 555px 323px #FFF , 454px 288px #FFF , 72px 271px #FFF , 445px 1713px #FFF , 136px 10px #FFF , 1810px 1149px #FFF , 1445px 794px #FFF , 406px 1822px #FFF , 1994px 741px #FFF , 1837px 1564px #FFF , 1264px 80px #FFF , 273px 845px #FFF , 322px 1693px #FFF , 103px 463px #FFF , 689px 1161px #FFF , 353px 717px #FFF , 1275px 1895px #FFF , 1331px 130px #FFF , 1251px 1424px #FFF , 1003px 1183px #FFF , 721px 904px #FFF , 1261px 416px #FFF , 600px 577px #FFF , 384px 910px #FFF , 1248px 1547px #FFF , 955px 734px #FFF , 686px 891px #FFF , 196px 1523px #FFF , 831px 327px #FFF , 845px 1486px #FFF , 1553px 1438px #FFF , 1133px 1152px #FFF , 356px 1087px #FFF , 1503px 807px #FFF , 1098px 1396px #FFF , 94px 1934px #FFF , 1195px 58px #FFF , 748px 771px #FFF , 940px 570px #FFF , 574px 651px #FFF , 835px 533px #FFF , 42px 1210px #FFF , 496px 1791px #FFF , 1610px 296px #FFF , 1446px 1574px #FFF , 261px 1765px #FFF , 818px 368px #FFF , 573px 743px #FFF , 545px 333px #FFF , 1500px 1567px #FFF , 1789px 448px #FFF , 1139px 1559px #FFF , 1607px 1127px #FFF , 1980px 874px #FFF , 731px 1559px #FFF , 898px 158px #FFF , 1641px 1053px #FFF , 53px 377px #FFF , 1879px 1370px #FFF , 1377px 899px #FFF , 1416px 829px #FFF , 863px 1545px #FFF , 1219px 1935px #FFF , 1638px 320px #FFF , 239px 1807px #FFF , 851px 464px #FFF , 1868px 1843px #FFF , 679px 203px #FFF , 1762px 842px #FFF , 59px 1986px #FFF , 1142px 1911px #FFF , 838px 1030px #FFF , 1370px 1269px #FFF , 781px 274px #FFF , 1193px 551px #FFF , 638px 478px #FFF , 456px 1854px #FFF , 424px 690px #FFF , 13px 600px #FFF , 306px 1867px #FFF , 384px 1298px #FFF , 762px 342px #FFF , 1780px 1196px #FFF , 108px 1138px #FFF , 1671px 866px #FFF , 831px 1515px #FFF , 218px 1455px #FFF , 1315px 1494px #FFF , 1365px 1181px #FFF , 168px 986px #FFF , 349px 506px #FFF , 974px 1437px #FFF , 1605px 908px #FFF , 1036px 1208px #FFF , 1082px 1407px #FFF , 916px 827px #FFF , 1526px 566px #FFF , 1159px 1877px #FFF , 210px 1180px #FFF , 979px 1815px #FFF , 130px 1358px #FFF , 1961px 1963px #FFF , 771px 591px #FFF , 1905px 487px #FFF , 1816px 1565px #FFF , 333px 1600px #FFF , 1842px 1774px #FFF , 1573px 135px #FFF , 1385px 1889px #FFF , 1611px 1033px #FFF , 367px 1236px #FFF , 779px 1022px #FFF , 1851px 62px #FFF , 478px 257px #FFF , 1907px 1960px #FFF , 1435px 532px #FFF , 662px 8px #FFF , 1027px 1924px #FFF , 489px 101px #FFF , 76px 1875px #FFF , 657px 1682px #FFF , 1993px 1955px #FFF , 1432px 1845px #FFF , 1530px 1729px #FFF , 1211px 896px #FFF , 1525px 133px #FFF , 1445px 803px #FFF , 530px 62px #FFF , 242px 1513px #FFF , 256px 933px #FFF , 1701px 936px #FFF , 756px 1893px #FFF , 1251px 1298px #FFF , 380px 1399px #FFF , 1455px 302px #FFF , 1729px 1171px #FFF , 585px 49px #FFF , 1961px 1124px #FFF , 1241px 552px #FFF , 1205px 40px #FFF , 1938px 1247px #FFF , 1469px 89px #FFF , 239px 1939px #FFF , 698px 448px #FFF , 1795px 346px #FFF , 151px 487px #FFF , 102px 126px #FFF , 1184px 418px #FFF , 1625px 1418px #FFF , 29px 554px #FFF , 1288px 1274px #FFF , 791px 1308px #FFF , 151px 934px #FFF , 1574px 386px #FFF , 1214px 1703px #FFF , 1569px 1424px #FFF , 951px 1830px #FFF , 1728px 805px #FFF , 312px 1987px #FFF , 1468px 529px #FFF , 1153px 1146px #FFF , 1262px 1021px #FFF , 1648px 1766px #FFF , 306px 70px #FFF , 754px 1165px #FFF , 1930px 482px #FFF , 1814px 1593px #FFF , 1066px 822px #FFF , 1250px 877px #FFF , 465px 1885px #FFF , 1649px 1281px #FFF , 1682px 1601px #FFF , 1367px 1233px #FFF , 91px 1327px #FFF , 1485px 1355px #FFF , 501px 1673px #FFF , 1649px 1259px #FFF , 1986px 948px #FFF , 1266px 1829px #FFF , 135px 1503px #FFF , 647px 296px #FFF , 155px 341px #FFF , 649px 1896px #FFF , 1617px 334px #FFF , 223px 1507px #FFF , 584px 146px #FFF , 200px 316px #FFF , 575px 1831px #FFF , 1374px 1809px #FFF , 1445px 386px #FFF , 475px 1249px #FFF , 1954px 89px #FFF , 1756px 1192px #FFF , 8px 671px #FFF , 1366px 1694px #FFF , 1831px 306px #FFF , 925px 113px #FFF , 160px 1174px #FFF , 534px 1908px #FFF , 553px 273px #FFF , 423px 45px #FFF , 1305px 1098px #FFF , 187px 90px #FFF , 1993px 1396px #FFF , 842px 1270px #FFF , 1137px 554px #FFF , 351px 558px #FFF , 1576px 1070px #FFF , 437px 312px #FFF , 286px 1019px #FFF , 257px 272px #FFF , 1242px 1957px #FFF , 1963px 1693px #FFF , 772px 447px #FFF , 1641px 508px #FFF , 712px 100px #FFF , 1307px 1015px #FFF , 742px 327px #FFF , 281px 1814px #FFF , 1398px 1051px #FFF , 167px 9px #FFF , 328px 1489px #FFF , 1814px 1804px #FFF , 946px 25px #FFF , 549px 1705px #FFF , 217px 1477px #FFF , 1937px 280px #FFF , 182px 241px #FFF , 711px 1365px #FFF , 1898px 1043px #FFF , 1807px 346px #FFF , 1787px 1253px #FFF , 247px 66px #FFF , 1171px 1592px #FFF , 846px 895px #FFF , 1507px 720px #FFF , 787px 574px #FFF , 1593px 1267px #FFF , 843px 1902px #FFF , 15px 1454px #FFF , 539px 1420px #FFF , 1856px 974px #FFF , 340px 663px #FFF , 1579px 1091px #FFF , 809px 111px #FFF , 32px 1128px #FFF , 69px 1852px #FFF , 878px 300px #FFF , 730px 726px #FFF , 1137px 68px #FFF;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 592px 134px #FFF , 346px 741px #FFF , 1000px 1781px #FFF , 996px 728px #FFF , 1085px 1462px #FFF , 526px 1128px #FFF , 1951px 557px #FFF , 673px 92px #FFF , 415px 776px #FFF , 1570px 643px #FFF , 121px 697px #FFF , 782px 1847px #FFF , 1853px 256px #FFF , 910px 195px #FFF , 362px 1201px #FFF , 52px 1627px #FFF , 387px 899px #FFF , 547px 1995px #FFF , 1298px 440px #FFF , 1474px 1713px #FFF , 1109px 1322px #FFF , 1720px 1237px #FFF , 473px 1196px #FFF , 1682px 580px #FFF , 1476px 655px #FFF , 1254px 731px #FFF , 1069px 1840px #FFF , 291px 1789px #FFF , 825px 1237px #FFF , 1067px 543px #FFF , 962px 990px #FFF , 1606px 1387px #FFF , 884px 1555px #FFF , 1209px 1830px #FFF , 439px 535px #FFF , 360px 1451px #FFF , 1018px 1837px #FFF , 1964px 677px #FFF , 1095px 159px #FFF , 390px 245px #FFF , 1869px 597px #FFF , 1857px 544px #FFF , 745px 1186px #FFF , 336px 1867px #FFF , 250px 1377px #FFF , 1872px 168px #FFF , 878px 1299px #FFF , 1257px 177px #FFF , 984px 303px #FFF , 544px 303px #FFF , 1250px 1052px #FFF , 152px 1322px #FFF , 1466px 289px #FFF , 1104px 1116px #FFF , 1796px 482px #FFF , 1086px 525px #FFF , 1540px 1822px #FFF , 196px 1999px #FFF , 1893px 771px #FFF , 1171px 1728px #FFF , 1996px 710px #FFF , 436px 370px #FFF , 1270px 1570px #FFF , 55px 900px #FFF , 1875px 1291px #FFF , 337px 1251px #FFF , 25px 5px #FFF , 1619px 835px #FFF , 410px 676px #FFF , 956px 531px #FFF , 90px 489px #FFF , 561px 576px #FFF , 907px 45px #FFF , 1657px 810px #FFF , 1029px 1705px #FFF , 1281px 828px #FFF , 466px 961px #FFF , 674px 1105px #FFF , 456px 918px #FFF , 331px 148px #FFF , 1105px 1681px #FFF , 922px 319px #FFF , 1600px 1403px #FFF , 420px 977px #FFF , 166px 1637px #FFF , 1033px 1668px #FFF , 1884px 208px #FFF , 552px 720px #FFF , 1543px 119px #FFF , 587px 103px #FFF , 348px 1766px #FFF , 664px 761px #FFF , 565px 1253px #FFF , 1472px 1332px #FFF , 471px 1569px #FFF , 747px 76px #FFF , 1429px 308px #FFF , 1850px 597px #FFF , 1148px 1085px #FFF , 307px 208px #FFF , 253px 736px #FFF , 148px 122px #FFF , 366px 1163px #FFF , 1589px 1436px #FFF , 1359px 1027px #FFF , 1805px 95px #FFF , 910px 837px #FFF , 1578px 976px #FFF , 954px 710px #FFF , 743px 1552px #FFF , 271px 686px #FFF , 1960px 1336px #FFF , 740px 1431px #FFF , 972px 1184px #FFF , 1690px 1942px #FFF , 1222px 839px #FFF , 1151px 164px #FFF , 1248px 871px #FFF , 893px 1975px #FFF , 1979px 859px #FFF , 139px 642px #FFF , 856px 523px #FFF , 879px 1186px #FFF , 1440px 1036px #FFF , 1624px 1411px #FFF , 1320px 1239px #FFF , 1747px 1662px #FFF , 1155px 765px #FFF , 885px 43px #FFF , 552px 1690px #FFF , 731px 293px #FFF , 1655px 1809px #FFF , 187px 1766px #FFF , 811px 1318px #FFF , 716px 241px #FFF , 633px 668px #FFF , 916px 1359px #FFF , 1054px 620px #FFF , 1038px 1345px #FFF , 1334px 1118px #FFF , 393px 52px #FFF , 1722px 590px #FFF , 1329px 244px #FFF , 1388px 1983px #FFF , 66px 1845px #FFF , 172px 995px #FFF , 1258px 1766px #FFF , 310px 110px #FFF , 1019px 1705px #FFF , 394px 1471px #FFF , 489px 1962px #FFF , 183px 1155px #FFF , 90px 1153px #FFF , 845px 60px #FFF , 403px 1930px #FFF , 820px 256px #FFF , 394px 1716px #FFF , 1744px 690px #FFF , 831px 1562px #FFF , 110px 1000px #FFF , 1604px 585px #FFF , 1954px 1442px #FFF , 397px 1085px #FFF , 242px 1785px #FFF , 1216px 1885px #FFF , 1873px 1700px #FFF , 1181px 8px #FFF , 1978px 701px #FFF , 1968px 391px #FFF , 1621px 947px #FFF , 1142px 1244px #FFF , 558px 584px #FFF , 881px 767px #FFF , 96px 960px #FFF , 1143px 262px #FFF , 690px 1357px #FFF , 218px 1363px #FFF , 1507px 16px #FFF , 1947px 1785px #FFF , 755px 1928px #FFF , 1620px 1126px #FFF , 1194px 1932px #FFF , 728px 1068px #FFF , 542px 1765px #FFF , 1159px 1334px #FFF , 1284px 444px #FFF , 1623px 1161px #FFF , 190px 1011px #FFF , 855px 1379px #FFF , 1244px 30px #FFF , 1144px 1873px #FFF , 1276px 958px #FFF , 1675px 1097px #FFF , 354px 1735px #FFF , 1534px 235px #FFF , 560px 1850px #FFF , 493px 1737px #FFF , 782px 598px #FFF , 1709px 1377px #FFF , 717px 1040px #FFF;
  animation: animStar 50s linear infinite;
  &:after {
    content: " ";
    position: absolute;

    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 592px 134px #FFF , 346px 741px #FFF , 1000px 1781px #FFF , 996px 728px #FFF , 1085px 1462px #FFF , 526px 1128px #FFF , 1951px 557px #FFF , 673px 92px #FFF , 415px 776px #FFF , 1570px 643px #FFF , 121px 697px #FFF , 782px 1847px #FFF , 1853px 256px #FFF , 910px 195px #FFF , 362px 1201px #FFF , 52px 1627px #FFF , 387px 899px #FFF , 547px 1995px #FFF , 1298px 440px #FFF , 1474px 1713px #FFF , 1109px 1322px #FFF , 1720px 1237px #FFF , 473px 1196px #FFF , 1682px 580px #FFF , 1476px 655px #FFF , 1254px 731px #FFF , 1069px 1840px #FFF , 291px 1789px #FFF , 825px 1237px #FFF , 1067px 543px #FFF , 962px 990px #FFF , 1606px 1387px #FFF , 884px 1555px #FFF , 1209px 1830px #FFF , 439px 535px #FFF , 360px 1451px #FFF , 1018px 1837px #FFF , 1964px 677px #FFF , 1095px 159px #FFF , 390px 245px #FFF , 1869px 597px #FFF , 1857px 544px #FFF , 745px 1186px #FFF , 336px 1867px #FFF , 250px 1377px #FFF , 1872px 168px #FFF , 878px 1299px #FFF , 1257px 177px #FFF , 984px 303px #FFF , 544px 303px #FFF , 1250px 1052px #FFF , 152px 1322px #FFF , 1466px 289px #FFF , 1104px 1116px #FFF , 1796px 482px #FFF , 1086px 525px #FFF , 1540px 1822px #FFF , 196px 1999px #FFF , 1893px 771px #FFF , 1171px 1728px #FFF , 1996px 710px #FFF , 436px 370px #FFF , 1270px 1570px #FFF , 55px 900px #FFF , 1875px 1291px #FFF , 337px 1251px #FFF , 25px 5px #FFF , 1619px 835px #FFF , 410px 676px #FFF , 956px 531px #FFF , 90px 489px #FFF , 561px 576px #FFF , 907px 45px #FFF , 1657px 810px #FFF , 1029px 1705px #FFF , 1281px 828px #FFF , 466px 961px #FFF , 674px 1105px #FFF , 456px 918px #FFF , 331px 148px #FFF , 1105px 1681px #FFF , 922px 319px #FFF , 1600px 1403px #FFF , 420px 977px #FFF , 166px 1637px #FFF , 1033px 1668px #FFF , 1884px 208px #FFF , 552px 720px #FFF , 1543px 119px #FFF , 587px 103px #FFF , 348px 1766px #FFF , 664px 761px #FFF , 565px 1253px #FFF , 1472px 1332px #FFF , 471px 1569px #FFF , 747px 76px #FFF , 1429px 308px #FFF , 1850px 597px #FFF , 1148px 1085px #FFF , 307px 208px #FFF , 253px 736px #FFF , 148px 122px #FFF , 366px 1163px #FFF , 1589px 1436px #FFF , 1359px 1027px #FFF , 1805px 95px #FFF , 910px 837px #FFF , 1578px 976px #FFF , 954px 710px #FFF , 743px 1552px #FFF , 271px 686px #FFF , 1960px 1336px #FFF , 740px 1431px #FFF , 972px 1184px #FFF , 1690px 1942px #FFF , 1222px 839px #FFF , 1151px 164px #FFF , 1248px 871px #FFF , 893px 1975px #FFF , 1979px 859px #FFF , 139px 642px #FFF , 856px 523px #FFF , 879px 1186px #FFF , 1440px 1036px #FFF , 1624px 1411px #FFF , 1320px 1239px #FFF , 1747px 1662px #FFF , 1155px 765px #FFF , 885px 43px #FFF , 552px 1690px #FFF , 731px 293px #FFF , 1655px 1809px #FFF , 187px 1766px #FFF , 811px 1318px #FFF , 716px 241px #FFF , 633px 668px #FFF , 916px 1359px #FFF , 1054px 620px #FFF , 1038px 1345px #FFF , 1334px 1118px #FFF , 393px 52px #FFF , 1722px 590px #FFF , 1329px 244px #FFF , 1388px 1983px #FFF , 66px 1845px #FFF , 172px 995px #FFF , 1258px 1766px #FFF , 310px 110px #FFF , 1019px 1705px #FFF , 394px 1471px #FFF , 489px 1962px #FFF , 183px 1155px #FFF , 90px 1153px #FFF , 845px 60px #FFF , 403px 1930px #FFF , 820px 256px #FFF , 394px 1716px #FFF , 1744px 690px #FFF , 831px 1562px #FFF , 110px 1000px #FFF , 1604px 585px #FFF , 1954px 1442px #FFF , 397px 1085px #FFF , 242px 1785px #FFF , 1216px 1885px #FFF , 1873px 1700px #FFF , 1181px 8px #FFF , 1978px 701px #FFF , 1968px 391px #FFF , 1621px 947px #FFF , 1142px 1244px #FFF , 558px 584px #FFF , 881px 767px #FFF , 96px 960px #FFF , 1143px 262px #FFF , 690px 1357px #FFF , 218px 1363px #FFF , 1507px 16px #FFF , 1947px 1785px #FFF , 755px 1928px #FFF , 1620px 1126px #FFF , 1194px 1932px #FFF , 728px 1068px #FFF , 542px 1765px #FFF , 1159px 1334px #FFF , 1284px 444px #FFF , 1623px 1161px #FFF , 190px 1011px #FFF , 855px 1379px #FFF , 1244px 30px #FFF , 1144px 1873px #FFF , 1276px 958px #FFF , 1675px 1097px #FFF , 354px 1735px #FFF , 1534px 235px #FFF , 560px 1850px #FFF , 493px 1737px #FFF , 782px 598px #FFF , 1709px 1377px #FFF , 717px 1040px #FFF;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 222px 946px #FFF , 408px 926px #FFF , 1608px 1741px #FFF , 1977px 1436px #FFF , 713px 1152px #FFF , 139px 39px #FFF , 497px 1590px #FFF , 1808px 1652px #FFF , 598px 667px #FFF , 1962px 75px #FFF , 331px 1245px #FFF , 1600px 1822px #FFF , 1463px 883px #FFF , 299px 335px #FFF , 1229px 909px #FFF , 448px 581px #FFF , 1346px 571px #FFF , 1247px 458px #FFF , 799px 186px #FFF , 643px 404px #FFF , 1330px 790px #FFF , 299px 699px #FFF , 1593px 1891px #FFF , 934px 1230px #FFF , 1162px 1835px #FFF , 903px 1024px #FFF , 596px 900px #FFF , 1223px 1078px #FFF , 682px 1024px #FFF , 151px 373px #FFF , 54px 1586px #FFF , 657px 1902px #FFF , 812px 273px #FFF , 705px 1142px #FFF , 1902px 1353px #FFF , 1222px 1980px #FFF , 767px 158px #FFF , 22px 663px #FFF , 1055px 727px #FFF , 1728px 750px #FFF , 223px 287px #FFF , 438px 127px #FFF , 224px 1146px #FFF , 1594px 1466px #FFF , 1505px 436px #FFF , 389px 1049px #FFF , 596px 435px #FFF , 1997px 1798px #FFF , 29px 51px #FFF , 40px 514px #FFF , 1779px 769px #FFF , 652px 1211px #FFF , 1599px 347px #FFF , 1854px 1941px #FFF , 485px 1633px #FFF , 697px 1894px #FFF , 1772px 877px #FFF , 555px 1030px #FFF , 976px 1338px #FFF , 541px 1112px #FFF , 817px 899px #FFF , 961px 923px #FFF , 115px 1321px #FFF , 875px 434px #FFF , 1577px 1980px #FFF , 1160px 131px #FFF , 15px 160px #FFF , 979px 56px #FFF , 959px 1756px #FFF , 1358px 435px #FFF , 563px 591px #FFF , 1284px 475px #FFF , 341px 601px #FFF , 74px 471px #FFF , 416px 584px #FFF , 692px 536px #FFF , 1041px 377px #FFF , 1601px 1923px #FFF , 1014px 241px #FFF , 122px 1594px #FFF , 1510px 280px #FFF , 195px 1720px #FFF , 152px 104px #FFF , 1686px 811px #FFF , 1329px 750px #FFF , 1655px 441px #FFF , 1288px 1040px #FFF , 1802px 1368px #FFF , 767px 615px #FFF , 302px 195px #FFF , 1973px 1902px #FFF , 1088px 1583px #FFF , 1840px 1126px #FFF , 500px 111px #FFF , 1263px 667px #FFF , 1748px 121px #FFF , 1608px 364px #FFF , 1064px 1610px #FFF , 1682px 1826px #FFF , 1747px 1800px #FFF;
  animation: animStar 100s linear infinite;
  &:after {
    content: "";
    position: absolute;

    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 222px 946px #FFF , 408px 926px #FFF , 1608px 1741px #FFF , 1977px 1436px #FFF , 713px 1152px #FFF , 139px 39px #FFF , 497px 1590px #FFF , 1808px 1652px #FFF , 598px 667px #FFF , 1962px 75px #FFF , 331px 1245px #FFF , 1600px 1822px #FFF , 1463px 883px #FFF , 299px 335px #FFF , 1229px 909px #FFF , 448px 581px #FFF , 1346px 571px #FFF , 1247px 458px #FFF , 799px 186px #FFF , 643px 404px #FFF , 1330px 790px #FFF , 299px 699px #FFF , 1593px 1891px #FFF , 934px 1230px #FFF , 1162px 1835px #FFF , 903px 1024px #FFF , 596px 900px #FFF , 1223px 1078px #FFF , 682px 1024px #FFF , 151px 373px #FFF , 54px 1586px #FFF , 657px 1902px #FFF , 812px 273px #FFF , 705px 1142px #FFF , 1902px 1353px #FFF , 1222px 1980px #FFF , 767px 158px #FFF , 22px 663px #FFF , 1055px 727px #FFF , 1728px 750px #FFF , 223px 287px #FFF , 438px 127px #FFF , 224px 1146px #FFF , 1594px 1466px #FFF , 1505px 436px #FFF , 389px 1049px #FFF , 596px 435px #FFF , 1997px 1798px #FFF , 29px 51px #FFF , 40px 514px #FFF , 1779px 769px #FFF , 652px 1211px #FFF , 1599px 347px #FFF , 1854px 1941px #FFF , 485px 1633px #FFF , 697px 1894px #FFF , 1772px 877px #FFF , 555px 1030px #FFF , 976px 1338px #FFF , 541px 1112px #FFF , 817px 899px #FFF , 961px 923px #FFF , 115px 1321px #FFF , 875px 434px #FFF , 1577px 1980px #FFF , 1160px 131px #FFF , 15px 160px #FFF , 979px 56px #FFF , 959px 1756px #FFF , 1358px 435px #FFF , 563px 591px #FFF , 1284px 475px #FFF , 341px 601px #FFF , 74px 471px #FFF , 416px 584px #FFF , 692px 536px #FFF , 1041px 377px #FFF , 1601px 1923px #FFF , 1014px 241px #FFF , 122px 1594px #FFF , 1510px 280px #FFF , 195px 1720px #FFF , 152px 104px #FFF , 1686px 811px #FFF , 1329px 750px #FFF , 1655px 441px #FFF , 1288px 1040px #FFF , 1802px 1368px #FFF , 767px 615px #FFF , 302px 195px #FFF , 1973px 1902px #FFF , 1088px 1583px #FFF , 1840px 1126px #FFF , 500px 111px #FFF , 1263px 667px #FFF , 1748px 121px #FFF , 1608px 364px #FFF , 1064px 1610px #FFF , 1682px 1826px #FFF , 1747px 1800px #FFF;
  }
}

@keyframes animStar {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0px);
  }
}

