@font-face {
  font-family: medium;
  src: url("../../../../assets/fonts/MADE TOMMY Medium_PERSONAL USE.otf");
}

@font-face {
  font-family: tommy-bold;
  src: url("../../../../assets/fonts/MADE TOMMY Bold_PERSONAL USE.otf");
}

@font-face {
  font-family: light;
  src: url("../../../../assets/fonts/MADE TOMMY Light_PERSONAL USE.otf");
}

::ng-deep {
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }
}

.custom-marker {
  display: flex;
  width: 2.6041666666666665vw;
  height: 2.6041666666666665vw;
  align-items: center;
  justify-content: center;
  color: blueviolet;

  z-index: 1;
  direction: ltr;
}


.imgBx {
  position: relative;
  top: -1vw;
  left: 85%;
  text-align: left;
  width: 2.5vw;
  height: 2.5vw;
}


:host::ng-deep.p-panel .p-panel-header {
  padding: 1rem;
  background: #5b2178;
  color: white;
  font-family: tommy-bold;
  letter-spacing: 0.1vw;
  font-size: 3vw;

}

:host::ng-deep.p-panel {
  background: #F2F3F4;
  width: 60vw;

}

:host::ng-deep.p-timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  left: 5%;

  width: 50vw;
}

:host::ng-deep.p-panel .p-panel-content {
  background: #F2F3F4;

}

:host::ng-deep.p-card {
  width: 70%;
  height: 100%;
  border-radius: 5%;
}

:host::ng-deep.p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(2n) .p-timeline-event-content {
  text-align: left;
  left: 13%;
  position: relative;
}

h1 {
  font-size: 100%;
  font-family: medium;
}


h3 {
  color: #2E3C40;
  font-size: 1.2vw;
  font-weight: 200;
  line-height: 1;
  font-family: medium;
  padding-bottom: 0.15vw;
  margin: 0;
  border-bottom: 2px solid #753BBD;
  transition: color .45s ease, border .45s ease;
  text-align: left;
  letter-spacing: 0.2vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;

}

h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1vw;
  font-family: light;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color .45s ease;
  text-align: left;
  padding-top: 0.5vw;
  cursor: default;
}

p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity .45s ease, transform .5s ease;
  display: none;
}

.link-text {
  .text-1 {
    display: block;
    color: #753BBD;
    font-size: 1vw;
    font-weight: 600;
    line-height: 1.2;
    margin-top: -15%;
    transition: color .45s ease;
    text-align: left;
    cursor: pointer;

  }

  .text-2 {

    display: none;
  }

  svg {

      position: relative;
      top: 0.1vw;
      width: 10%;
      transition: transform .6s ease;

    path {

      transition: fill .45s ease;
    }
  }
}
:host::ng-deep.p-card:active {
  transition: 1s;
  background: #753BBD;
  transform: scale(1.02);
  height: 100%;


  h3 {
    color: #FFFFFF;
    border-bottom: 2px solid #fbc02d;
    cursor: default;
  }

  h4 {
    color: #FFFFFF;
  }

  p {
    opacity: 1;
    transform: none;
    display: block;
  }

  .date {
    opacity: 1;
    transform: none;
  }

  .link-text {
    color: #FFFFFF;
    margin-top: -5%;
    cursor: pointer;

    .text-1 {
      display: none;


    }

    .text-2 {

      display: block;
      color: #FFFFFF;
      font-size: 1vw;
      font-weight: 600;
      line-height: 1.2;
      margin-top: -17%;
      transition: color .45s ease;
      text-align: center;
      margin-left: 45%;

    }

    svg {
      animation: point 1.25s infinite alternate;
      width: 15%;
      path {
        fill: #FFFFFF;
      }
    }
  }
}
:host::ng-deep.p-card:hover {
  transition: 1s;
  background: #753BBD;
  transform: scale(1.02);
  height: 100%;


  h3 {
    color: #FFFFFF;
    border-bottom: 2px solid #fbc02d;
    cursor: default;
  }

  h4 {
    color: #FFFFFF;
  }

  p {
    opacity: 1;
    transform: none;
    display: block;
  }

  .date {
    opacity: 1;
    transform: none;
  }

  .link-text {
    color: #FFFFFF;
    margin-top: -5%;
    cursor: pointer;

    .text-1 {
      display: none;


    }

    .text-2 {

      display: block;
      color: #FFFFFF;
      font-size: 1vw;
      font-weight: 600;
      line-height: 1.2;
      margin-top: -17%;
      transition: color .45s ease;
      text-align: center;
      margin-left: 45%;

    }

    svg {
      animation: point 1.25s infinite alternate;
      width: 15%;
      path {
        fill: #FFFFFF;
      }
    }
  }
}

th {
  font-family: tommy-medium;
  font-size: 1vw;
  letter-spacing: 0.05vw;
  color: #000000de;
  background: rgba(147, 147, 147, 0.12);
  padding-top: 2%;
}

td {
  font-size: 1vw;
}

:host ::ng-deep.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem;
  border: solid #000000;
  border-width: 0 0 1px;
  font-weight: 500;
  color: #000000de;
  background: rgba(147, 147, 147, 0.12);
}

tr:hover {
  background-color: #f4f4f4;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}

.date {
  font-size: 0.8vw;
  text-align: left;
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity .45s ease, transform .5s ease;
}

.icon-task {
  width: 100%;

}

/**************dialog******************/

:host ::ng-deep.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 500;
  font-size: 1.5vw;
  color: white;
  margin-left: 0.2vw;
}

:host ::ng-deep.p-dialog .p-dialog-header {
  border-bottom: 0;
  background: #5b2178;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.8vw;
}

:host ::ng-deep.p-dialog {
  width: 50vw;
.p-dialog-header {
.p-dialog-header-icon:enabled {
  color: #ffffff;
}
  .p-dialog-header-icon:enabled:hover {
  color: #5b2178;
  background-color: white;
}
}
}
.fa-download {
  font-size: 150%;
}

.pointer {
  cursor: pointer;
}

.taskTypeNamePoupup {
  font-size: 1vw;
}

:host ::ng-deep {
  .p-breadcrumb ul {
    color: #000000;
    font-size: 1.2vw;
    font-family: tommy-medium;
  }

  .p-breadcrumb ul li.p-breadcrumb-chevron {
    margin: 0 .5rem;
    color: #000000;
    font-size: 1.2vw;
  }

  .p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    color: #000000;
    font-size: 1.2vw;
  }
}


@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-breadcrumb ul {
      font-size: 2vw;
    }

    .p-breadcrumb ul li {
      .p-breadcrumb-chevron {
        margin: 0 .5rem;
        font-size: 2vw;
      }

      .p-menuitem-link .p-menuitem-icon {
        font-size: 2vw;
      }
    }

    .p-panel {

      width: 100vw;

    }

    .p-dialog {
      width: 80vw;
    .p-dialog-header .p-dialog-title {

      font-size: 3vw;

    }
    }
    .p-timeline {
      left: 25%;
    }

    .p-timeline-vertical.p-timeline-alternate .p-timeline-event:nth-child(2n) .p-timeline-event-content {
      text-align: left;
      left: 0%;
      position: relative;
    }

    .p-card {
      width: 110%;
      .link-text {
      svg {

        width: 10%;
        top: 0.5vw;

      }}
    }
    .p-card:active{
      transition: 1s;
      background: #753BBD;
      transform: scale(1.02);
      height: 100%;

      .link-text {
        color: #FFFFFF;

        .text-1 {
          display: none;
        }

        .text-2 {
          margin-top: -15%;
          font-size: 2vw;
          margin-left: 40%;
        }

        svg {

          top: 0.5vw;
          path {
            fill: #FFFFFF;
          }
        }
      }

    }
      .p-card:hover {
      transition: 1s;
      height: 100%;

      .link-text {
        color: #FFFFFF;

        .text-1 {
          display: none;
        }

        .text-2 {
          margin-top: -15%;
          font-size: 2vw;
          margin-left: 40%;
        }

        svg {

          top: 0.5vw;
          path {
            fill: #FFFFFF;
          }
        }
      }
    }
  }

  ::ng-deep {
    .customized-timeline {
      .p-timeline-event {
        flex-direction: row !important;

        .p-timeline-event-content {
          text-align: left !important;
          margin-top: 3%;
        }
      }

      .p-timeline-event-opposite {

        flex: 0;
      }

      .p-card {
        margin-top: 1rem;

      }
    }
  }
  .custom-marker {

    width: 4.5vw;
    height: 4.5vw;
  }

  .imgBx {

    width: 4.5vw;
    height: 4.5vw;
  }

  h3 {

    font-size: 3vw;
  }

  h4 {

    font-size: 2vw;

  }

  p {

    font-size: 1.5vw;
  }

  .link-text {

    .text-1 {
      margin-top: -20%;
      font-size: 2.5vw;


    }


  }
  .date {
    font-size: 2vw;
  }
  th {

    font-size: 2vw;

  }

  td {
    font-size: 2vw;

  }

}

@media screen and (max-width: 767px) {
  :host ::ng-deep {
    .p-breadcrumb ul {
      font-size: 3vw;
    }

    .p-breadcrumb ul li {
      .p-breadcrumb-chevron {
        margin: 0 .5rem;
        font-size: 3vw;
      }

      .p-menuitem-link .p-menuitem-icon {
        font-size: 3vw;
      }
    }

    .p-panel {

      width: 95.5vw;

    }

    .p-panel .p-panel-content {
      position: relative;
      top: -3%;

    }
    .p-dialog {
      width: 90vw;

      .p-dialog-header .p-dialog-title {

        font-size: 4vw;

      }
    }
    .p-card {
      width: 120%;
      .link-text {
        .text-1 {
          margin-top: -10%;
          font-size: 3vw;


        }

        svg {

          width: 10%;
          top: 0.8vw;

        }
      }
    }
    .p-card:active {


      .link-text {
        color: #FFFFFF;


        .text-1 {
          display: none;

        }

        .text-2 {

          font-size: 3vw;
          margin-left: 45%;
        }

        p {

          margin-top: -18%;
        }

        svg {

          width: 18%;
          top: 0.3vw;
          path {
            fill: #FFFFFF;
          }
        }
      }
    }
    .p-card:hover {


      .link-text {
        color: #FFFFFF;


        .text-1 {
          display: none;

        }

        .text-2 {

          font-size: 3vw;
          margin-left: 45%;
        }

        p {

          margin-top: -18%;
        }

        svg {

          width: 18%;
          top: 0.3vw;
          path {
            fill: #FFFFFF;
          }
        }
      }
    }

    .p-timeline {
      left: -10%;


      width: 100%;

    }
  }


  .custom-marker {

    width: 6.5vw;
    height: 6.5vw;
  }


  .imgBx {
    top: -5vw;
    width: 5.5vw;
    height: 5.5vw;
  }

  h3 {

    font-size: 4.5vw;
  }

  h4 {

    font-size: 3.5vw;

  }

  p {

    font-size: 3vw;
  }


  .date {
    font-size: 2.5vw;
  }
  th {

    font-size: 3vw;

  }

  td {
    font-size: 3vw;

  }

}

