.container {

  padding-top:50px;
  padding-bottom: 50px;
background-color: #131313;

}

h1{color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 45px;}





.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #FFFFFF;
  background: black;
  border-color: #FFFFFF;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #FFFFFF;
  background: black;
  border-color: #FFFFFF;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #FFFFFF;
  background: black;
  border-color: #FFFFFF;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #FFFFFF;
  background: black;
  border-color: #FFFFFF;;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #FFFFFF;
  background: black;
  border-color: #FFFFFF;
}


@media screen and (max-width: 758px) {
  .container {

    padding-top:20px;
    padding-bottom: 20px;
    background-color: #131313;

  }
  .rounded-social-buttons .social-button {
    width: 2.125rem;
    height: 2.125rem;
    border: 0.125rem solid transparent;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

  }

  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 15px;
  }
}

