<div  class=" ng-header">
  <div class="left">
    <div class="p-d-flex">
      <img class="logo"  src="../../../../assets/images/logo/logo2.png" [routerLink]="['/profile/myProfile']"alt="logo"/>
      <img class="vl"  src="../../../../assets/images/icon-backoffice/barre.png" />
      <h1 class="role"> USER PROFILE </h1>
    </div>
  </div>



  <div class="right" >
    <div class="icon-menu-responsif">
      <i class="fas fa-bars" style="color: white" (click)="visibleSidebar1 = true"></i>

    </div>

    <div class="icon">
      <a (click)="logout()"><img src="../../../../assets/images/icon-backoffice/header/logout.png">
      </a>
    </div>
    <div class="icon">
      <a ><img src="../../../../assets/images/icon-backoffice/header/setting.png"></a>
    </div>
    <div class=" icon notfication p-d-flex ">
         <span class="p-overlay-badge "
               (click)="op.toggle($event);clicked()">
    <img src="../../../../assets/images/icon-backoffice/header/notfication.png">
    <span *ngIf="numberNewNotfication!==0" class="p-badge">{{numberNewNotfication}}</span>

</span>
    </div>
    <img class="user-name" src="../../../../assets/images/icon-backoffice/header/profile.png">

    <div class="icon-username" *ngIf="user" (click)="goProfile()">
        <span >{{currentUser.username}}</span>
    </div>
  </div>
</div>

<p-overlayPanel  #op [showCloseIcon]="false"   >

    <div *ngIf="lisNotification.length!==0" class="listComment" >
      <div >
        <h2 >Notifications</h2>
        <hr>
      </div>

      <div *ngFor="let notification of lisNotification; let i=index" class="notification-message"
           [ngClass]="{'Notification_Not_Showed': notification.isShowed == true}"
           (click)="viewNotification(notification,op,$event)">
        <hr>
        <div><b>Person: </b><i class="comment"  style="color: blue" [innerHtml]=" notification.name"></i></div>
        <div><b>Action: </b><i class="comment" [innerHtml]=" notification.message"></i></div>
        <div><i class="comment" style="color: blue"  [innerHtml]="notification.createdDate | date:'dd/MM/yyyy'"></i></div>

        <hr>
      </div>
    </div>
    <div class="p-d-flex p-jc-center  empty_list" *ngIf="lisNotification.length===0">
      <div class="p-mb-2">
        <i class="fas fa-bell-slash fa-3x	"></i>
      </div>
      <div class="p-mb-2 p-ml-2 ">
        <h3>No Notifications Yet :(</h3>

      </div>

    </div>

</p-overlayPanel>


<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <div class="logo-sidebar p-mb-6">
    <div class="p-d-flex ">
      <img class="logo"  src="../../../../assets/images/logo/logo2.png" alt="logo"/>

    </div>
  </div>
  <p-panelMenu  [model]="items" [style]="{ width: '100%'  }">

  </p-panelMenu>

</p-sidebar>
