

<div class="container">
<div class="p-d-flex p-jc-center p-mt-6">
    <div class="p-d-flex p-flex-column">
        <div class="p-mb-2 p-d-flex p-jc-center p-mr-6"><img src="../../../../assets/images/success.png" alt=""></div>
        <div class="p-mb-2 p-d-flex p-jc-center"><h1>Congratualition your account has been succefully created</h1></div>
        <div class="p-d-flex p-jc-center">
            <div class="p-d-flex">
                <div class="p-mr-2"> <h1>Please press login to connect your account</h1></div>
                <div class="p-mr-2 p-mt-4"><img src="../../../../assets/images/clap.png" alt="">
                </div>

            </div>



        </div>
        <div class="p-d-flex p-jc-center">
            <button
              pButton
              type="submit"
              label="Login"
              class="p-button-rounded p-button p-button-raised p-mb-3 p-button-info"[style]="{width: '80%'}"
              [routerLink]="['/']">
        </button>


    </div>
</div>
</div>
