<div *ngIf="task">




  <div class="p-grid">
    <h1>Add Statement Of Work</h1>
    <div class=" p-mt-2   p-col-12   " >
      <div class ="statement p-shadow-9 p-mb-6  ">
      <div class=" p-mb-0 p-ml-1 p-d-flex p-jc-center">
        <h4 style="font-size: 100%">
          Attached piece</h4>
      </div>
      <div class="p-mb-4  p-d-flex p-jc-center">
        <img

          src="../../../../assets/images/backOffice/statement.png"
          alt=""
        />
      </div>

      </div>
    </div>
    <div class=" p-col p-flex p-jc-end">
    <div class="p-d-flex p-mt-4 p-mr-6 p-jc-end btn-plus-save" *ngIf="!editPieceAttached ">
      <label pButton for="file" class="label-file p-mr-3 " style="width:5%"><i  class="pi pi-plus p-ml-2 "style="font-size:100%"></i></label>
      <input id="file" class="input-file" type="file" (change)="onSelectedPiece($event)">

    </div>
    <div
      class="p-d-flex p-mt-4 p-mr-6 p-jc-end btn-plus-save"
      *ngIf="editPieceAttached === true"
    >
      <button  style="width:5%"(click)="uploadFile()" pButton type="button" label="Save" class="p-button-success"></button>

    </div>
    </div>
  </div>


</div>

